@media (min-width:1280px){
	.banner-top-vimeo-wrapper{
		padding:0;
		position:relative;
		height:675px;
		background:#000;
	}
	.banner-top-vimeo-wrapper.banner-aboutus-video{
		padding:0;
		position:relative;
		height:546px;
		background:#000;
	}
	.banner-top-vimeo{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:675px;
	}
	.banner-top-vimeo-wrapper.banner-aboutus-video .banner-top-vimeo{
		height:546px;
	}
}
@media (max-width:1279px){
	.banner-top-vimeo-wrapper{
		padding:75% 0 0 0;
		position:relative;
	}
	.banner-top-vimeo{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.details-enquiry-form .reel-title{
		flex-wrap: wrap;
	}
	.details-enquiry-form .reel-title h3{
		margin:15px 0 0 0;
	}	
	.details-content-wrapper .cart-list-single,.review-content-wrapper .cart-list-single{
		flex-wrap:wrap
	}	
	.cart-list-single.details-list-single .cls-info{
		margin-top:15px;
	}
}
@media (min-width:1200px) and (max-width:1279px){
	.aboutus-info-content h1.page-title-small{
		padding-right:0;
	}
	.about-timespan-content h1{
		padding:0;
	}
	.loggedin-flyout{
		right:23px;
	}
	.details-enquiry-form .tc-time,.details-enquiry-form .formatframe .niceselect{
		width:235px;
	}
	.selected-items{
		flex-wrap: wrap;
		padding:21px 0;
	}
	.selected-items-left{
		padding:0 0 10px 0;
	}
	.close-selected-header {
    position: absolute;
    top: 25px;
    right: 0;
	}
	.navbar.ff-navbar .navbar-nav .nav-link{
		margin-right:7px;
		font-size:16px;
	}
	.navbar.ff-navbar .navbar-nav .nav-link{
		margin-right:7px;
	}
	.ff-filters .niceselect{
		width:140px;
	}
	.ff-filters .niceselect span{
		width:85px;
	}
	.allthemes-filters.filters-right{
		margin-top:-68px;
	}
}
@media (min-width:992px) and (max-width:1199px){
	.profile-tabs-wrapper .allthemes-filters.filters-right {    
    top: 35px;
    right: 80px;
	}
	.contactus-img{
		width: 420px;
		height:238px;
		object-fit: cover;
	}
	.aboutus-info-content h1.page-title-small{
		padding-right:0;
	}
	.about-timespan-content h1{
		padding:0;
	}
	.blog-intro-wrapper, .blog-content-wrapper{
		padding:0 40px;
	}	
	.blog-detail-banner{
		width:auto;
		height:auto;
	}
	.loggedin-flyout{
		right:23px;
	}
	.details-enquiry-form .tc-time,.details-enquiry-form .formatframe .niceselect{
		width:235px;
	}
	.selected-items{
		flex-wrap: wrap;
		padding:21px 0;
	}
	.selected-items-left{
		padding:0 0 10px 0;
	}
	/* .close-selected-header {
    position: absolute;
    top: 20px;
    right: 0;
	} */
	.navbar.ff-navbar .navbar-nav .nav-link{
		margin-right:7px;
		font-size:16px;
	}
	.footer-getintouch-wrapper {
    margin-bottom: 30px;
	}
	.footer-getintouch span{
		display:block;
		margin:0 0 30px 0;
	}
	.ff-filters .niceselect{
		width:130px;
	}
	.ff-filters .niceselect span{
		width:85px;
	}
	.allthemes-filters.filters-right{
		margin-top:-68px;
	}
	.allthemes-filters.filters-right.selected-project-filter{
		margin-top:-30px;
	}
}
@media (max-width:991px){
	.niqv-single,.niqv-single:first-child{
		padding:0;
		margin:0 0 25px 0;
	}
	.niqv-overlay{
		display:block;
		position:static;
		background:#fff;
	}
	.niqv-overlay a{
		padding:15px 0;
	}
	.niqv-overlay p{
		color: #1a1a1a;
	}
	.about-timespan-bg-img{
		display:none;
		object-fit: cover;
	}
	.about-timespan-bg-img-mob{
		display:block;
		margin-top:60px;
	}
	.innerpage-banner.faqs-banner h1{
		margin:0
	}
	.contact-content-wrapper{
		padding:0 0 40px 0;
	}
	.accordion {
    padding-left: 0;
	}
	.accordion h5{
		padding:0 50px 25px 0;
	}
	div.block-single.team{
		margin-bottom:25px;
	}
	.similar-blogs .box-single-share span.share-single,.similar-section-wrapper .box-single-share span.share-single{
		background-color:#fff;
	}
	.box-single-share span.share-single{
		width:30px;
		height:30px;
		margin-right:26px;
	}
	.box-single-share span.share-single:nth-last-child(2){
		margin-right:10px
	}
	/*Selected items header*/
	.selected-items{
		flex-wrap: wrap;
		padding:18px 0;
	}
	.selected-items-left a.select-all,.selected-items-left a.deselect-all,.selected-items-right a.addtofavourite-reel,.selected-items-right a.addtoproject-reel{
		display:none;
	}
	a.addtocart-reel{
		position: relative;
		left:-10px
	}
	a.addtocart-reel img{
		position:relative;
		top:-6px;
		width:54px;		
	}
	a.close-selected-header img{
		position:relative;
		top:16px;	
	}
	.selected-items-right a.selectedheader-more{
		display:block;
		position: relative;
	}	
	.selected-items-right{
		display:flex;
	}	
	a.addtocart-reel span{
		display:none;
	}
	/*Selected items header*/
	/*Select/Share options*/
	div.block-single,div.blog-single{
		margin-bottom:60px;
	}
	div.block-single.block-single-noaction{
		margin-bottom:25px;
	}
	.box-single-share{
		bottom:-40px;
		right:-10px
	}
	.box-single-checkbox{
		top:auto;
		bottom:-17px;
		left:0;
	}
	.checkmark{
		height: 30px;
    width: 30px;
		border:2px solid #c0c0c0;
	}
	.checkbox-container .checkmark:after{		
    left: 10px;
    top: 5px;
	}
	.hover-options-container:hover::before, .hover-options-container.selected::before{
		width:0;
		height:0;
		background:none;
	}
	.box-single-checkbox,.box-single-share{
		display:block;
	}
	/*Select/Share options*/
	/*paddings*/
	.ptmob-0{
		padding-top:0 !important;
	}
	.pbmob-0{
		padding-bottom:0 !important;
	}
	.ptmob-25{
		padding-top:25px !important;
	}
	.pbmob-25{
		padding-bottom:25px !important;
	}
	.ptmob-60{
		padding-top:60px !important;
	}
	.pbmob-60{
		padding-bottom:60px !important;
	}
	/*paddings*/	
	.saved-msg{
		display:none;
	}	
	.empty-cart-left{
		height:auto;
		padding:35px 20px;
		margin-bottom:45px;
	}
	.enquiry-form-container{
		border:0px none;
	}
	.enquiry-form{
		padding:0;
	}
	.enquiry-form-actions{
		padding:15px 0;
	}
	#top-logo{
		height:60px;
	}
	.navbar-toggler-icon{
		display:block;
		margin:8px 0;
		height:2px;
		background:#333;
	}
	/*Toggle between hanburger and close icon*/
	.navbar-toggler .navbar-toggler-icon{
		transition: .3s ease-in-out;
	}
	.navbar-toggler.open span:nth-child(1){
		display:none;
	}
	.navbar-toggler.open span:nth-child(2){
		transform: rotate(45deg);
	}
	.navbar-toggler.open span:nth-child(3){
			transform: rotate(-45deg);
			margin-top:-10px;
	}
	/*Toggle between hanburger and close icon*/	
	.navbar.ff-navbar .navbar-brand{
		padding:0 0 0 15px;
	}
	.navbar-collapse{
		position: absolute;
    background: #fff;
    width: 100%;
		top: 98px;
		left:0;
		right:0;
		margin:0 auto;
		min-height:100vh;
	}
	.navbar-nav{
		margin:40px 0 0 40px !important;
	}	
	.navbar-nav:last-child{
		padding-bottom:20px;
	}
	.signin-link-desktop{
		display:none;
	}
	.signin-link-mobile{
		display:block;
	}
	.btn-ff.enquiry{
		margin-top:8px;
	}
	.multicolored-line-mobile{
		display:flex;
	}
	h1.page-title-large {   
    font-size: 42px;
    line-height: 50px;
	}
	.home-search-wrapper{
		display:none
	}
	.home-search-wrapper.search-wrapper-mobile{
		display:block
	}
	.search-wrapper-mobile form.home-search{
		margin:0;
	}
	.search-wrapper-mobile form.home-search input[type=text] {
		padding:23px 80px 23px 15px;
		border:1px solid #232323
	}
	.grey-bg{
    top:0;
  }	
  .no-video .grey-bg,.no-video.no-login .grey-bg{
    height:100%;
  }
  
	.home-title{
		margin:40px 0 35px 0;
	}
	.home-title br{
		display: none;
	}
	div.home-testimonials{
		padding:40px 20px;
	}
	.no-padding-mobile{
		padding-left:0;
		padding-right:0;
	}
	.page-section{
		margin-bottom:60px;
	}
	div.section-title-wrapper{
		align-items:flex-start
	}
	h2.section-title{		
		align-items: flex-start;
		color: #000000;
		font-size: 24px;
		line-height: 32px;
	}	
	h2.section-title-half{
		width:auto;
		margin-right:20px;
	}
	h2.section-title img{
		margin-top:10px;
		margin-right:5px;
		width:16px;		
	}
	div.section-title-wrapper a.primary-link{
		margin-top:5px;
		text-align:right;
	}
	div.block-single h3{
		font-size: 21px;
		line-height: 29px;
	}
	div.block-info div p.block-info-title{
		font-size: 14px;
		line-height: 22px;
	}
	div.block-info div p.block-info-content{
	font-size: 21px;  
  line-height: 29px;
	}
	div.home-testimonials h2.section-title img{
		width:40px;
	}
	img.apostrophe{
		top:60px;
		left:auto;
	}
	p.testimonial-text{
		margin: 60px 0 25px 0;
		font-size: 21px;
  	font-weight:normal;
  	line-height: 29px;
	}
	.home-testimonial-carousel .owl-dots{
		margin-top:35px;
		text-align:left;
	}	
	.homepage-about-content{
		position:static;
	}
	.blog-title-date h3{
		font-size: 21px;  
  	line-height: 29px;
	}
	.footer-getintouch span{
		display:block;
		margin:0 0 30px 0;
	}
	.footer-getintouch-wrapper{
		margin-bottom:30px;
	}
	.signin-flyout-mobile,.loggedin-flyout-mobile{		
		position:fixed;
		top:0;
		left:0;
		width:100%;
		background:#fff;
		z-index:10;
	}
	.signin-flyout-wrapper{
		max-width:100%;
		width:100%;
		height:100vh;
		display:block;
	}
	.create-account,.sign-in-user{
		width:100%;
		margin:0;
		padding:30px 0;
	}
	.create-account{
		border-bottom:1px solid #c0c0c0;
		border-right:0px none;
	}
	.signin-flyout-wrapper p.signin-text{
		min-height:auto;
	}
	.close-mobile-signin,.close-mobile-loggedin{
		float:right;
		margin:20px;
  }
  .mobile-profile{
    display:flex;
    align-items:center;
	}
	.mobile-profile a{
		margin-right:20px;
	}
  .mobile-profile .client-initials-logo,.mobile-profile .client-avatar{
		position:static;
		margin-right:8px;
  }
  .loggedin-flyout{
    border:0px none;
    border-radius:0px;
    box-shadow: none;
	}
	.innerpage-top{
		display:none;
	}
}
@media (min-width:768px) and (max-width:991px){	
	.next-in-queue h3{
		padding:0 0 25px 0;
	}
	.selected-video-request{
		flex-wrap:wrap;
	}
	.profile-tabs-wrapper .allthemes-filters.filters-right {   
    top: -35px;
    right: -15px;
    left: auto;
	}
	.profile-tabs-wrapper a.project-detail-addnew {    
    right: -20px;
    bottom: -20px;    
}
	.contactus-img{
		width: 380px;
		height:215px;
		object-fit: cover;
	}
	.aboutus-info-img {
		margin:0 0 15px 0;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
	}
	.aboutus-info-content h1.page-title-small{
		padding-right:0;
		font-size:32px;
		line-height:40px;
	}
	.about-timespan-content h1{
		padding:0;
	}
	.about-timespan-wrapper,.about-timespan-content{
		min-height:auto;
	}
	.about-timespan-content{
		padding:40px 0 60px 0;
	}
	.about-timespan-bg-img{
		object-fit: cover;
	}
	.blog-intro-wrapper, .blog-content-wrapper{
		padding:0 15px;
	}	
	.blog-detail-banner{
		width:auto;
		height:auto;
	}
	.selected-items-count {
    margin-right: 0;
    padding: 0;
	}
	.loggedin-flyout.selectedheader-flyout {
    margin-top: -10px;
    width: 220px;
    right: 128px;
    border-radius: 2px;
	}
	.details-enquiry-form .tc-time,.details-enquiry-form .formatframe .niceselect{
		width:165px;
	}
	.ff-modal{
		padding:0;
		width:700px;
		max-width:700px;
	}
	.modal-project-thumbnail,.modal-project-thumb{
		width:240px;
	}
	.modal-project-details{
		width:460px;
	}	
	.close-selected-header {
    position: absolute;
    top: 10px;
    right: 0;
	}
	h2.counter-number{
		font-size:50px;
		line-height:60px;
	}
	.allthemes-filters.filters-left{
		width:100%;
	}
	.allthemes-filters.filters-right{
		position:absolute;
		top:-125px;
		right:0;
		margin-top:10px;
		float:none;
	}
	.allthemes-filters.filters-right.blog-filter-right{
		top:-30px
	}
	.allthemes-filters.filters-right.selected-project-filter{
		position:static;
		margin-top:-25px;
	}
	.allthemes-filters.filters-right p{
		margin:0 0 5px 0;
	}
	.ff-filters .niceselect{
		width:125px;
	}
	.ff-filters .niceselect span{
		width:85px;
	}
	.innerpage-banner-grey-bg{
		height:95%;
	}

}
@media (max-width:767px){		
	.save-detail-cart-wrapper{
		display:none;
	}
	.save-detail-cart-wrapper.edit-detail-cart-wrapper{
		display:block;
	}
	.profile-tabs-wrapper a.project-detail-addnew img {
		width: 50px;
	}
	.purchase-history-list .table-bordered th:first-child,.purchase-history-list .table-bordered td:first-child{
		position: sticky;
    left: -1px;
    box-shadow: 2px 0 0 0 rgba(63,63,68,0.05), 3px 0 3px 0 rgba(63,63,68,0.15), inset 1px 0px 0px 0px #c0c0c0;
		/* box-shadow:1px 1px 1px 1px #1a1a1a */
	}
	.purchase-history-list .table-bordered td:first-child{
		background:#fff;
	}
	.profile-tabs-wrapper .allthemes-filters.filters-right{
		position:static;
		margin:0 0 0 15px;
		float:none;
	}
	.profile-tabs-wrapper{
		padding-top:0;
	}
	.profile-tabs-wrapper a.project-detail-addnew{
		position:fixed;
		bottom:20px;
		right:20px;
	}
	.contactus-img{
		width:100%;
		height:100%;
	}
	.aboutus-info-img {
		margin:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	}
	.aboutus-info-content h1.page-title-small{
		padding-right:0;
		font-size:32px;
		line-height:40px;
	}
	.about-timespan-content h1{
		padding:0;
	}
	.about-timespan-wrapper,.about-timespan-content{
		min-height:auto;
	}
	.about-timespan-content{
		padding:40px 0 60px 0;
	}	
	h1.pp-title {
		padding:0 15px;
	}
	.howwework-content-wrapper{
		padding-bottom:35px
	}
	.hww-title{
		margin:0 0 20px 0;
	}
	h1.page-title-medium {    
    font-size: 32px;   
    line-height: 40px;
	}
	.pointer-section{
		margin-bottom:25px;
	}
	.blog-intro-wrapper, .blog-content-wrapper{
		padding:0 15px;
	}
	.author-info{
		width:100%;
		margin:0 0 20px 0;
	}
	.blog-detail-banner{
		width:auto;
		height:auto;
	}
	.edit-profilepic{
		width:90px;
		height:90px;
		object-fit:cover;
		margin-right:10px
	}
	.selected-project-description{
		margin:0 0 25px 0;
	}
	.selected-project-description p{
		padding:0 15px;
	}
	.project-share-wrapper a.project-detail-addnew{
		position: fixed;
    bottom: 20px;
    right: 20px;
	}
	.project-share-wrapper{
		margin:0 15px;
		justify-content: space-between;
	}
	.project-share-wrapper a{
		margin:0 5px 0 0;
	}
	.project-reel-count{
		padding:0 15px
	}
	.profile-top-wrapper.selected-project-top-wrapper{
		margin:0;
	}
	.profile-top-wrapper a.backtoprofile{
		margin:0 15px;
    display: block;
    width: 100%;
	}
	.profile-top-wrapper.selected-project-top-wrapper h1{
		margin:15px 0 15px 15px !important;
	}
	.purchase-history-list {
    padding: 0;
	}
	.purchase-history-list table{
		width:1200px;
	}
	.profile-top-wrapper{
		flex-wrap:wrap;
		padding:0 15px;
	}
	.profile-top-wrapper h1{
		width:65%;		
		margin:25px 0 !important;
		font-weight:600;
		font-size: 21px;
		letter-spacing: 0;
		line-height: 29px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.profile-top-wrapper a{
		margin:25px 0;
	}	
	.tabs {
    width: 100%;
	}
	.tabs .tabs__items li {
		flex-grow: 1;
		flex-shrink: 0;
	}
	.selected-items-count span{
		padding:0 5px;
	}
	.selected-items-count{
		margin-right:0;
		padding:0;
	}
	.selected-items-right a img{
		top:4px;
	}
	.selected-items-right a.addtocart-reel img{
		top:0;
	}
	.selected-items-right a.close-selected-header img{
		top:21px;
	}
	.loggedin-flyout.selectedheader-flyout{
		margin-top: -10px;
		width: 220px;
		right: 78px;
		border: 1px solid #EBEAE9;
		border-radius: 2px;
		box-shadow: 0 2px 50px 0 rgba(26,26,26,0.2);
	}
	.cfad-desktop{
		display:none;
	}
	.cfad-mobile{
		display:block;
	}
	.cfad-mobile.cart-form-actions{
		text-align:center
	}
	.cfad-mobile.cart-form-actions input{
		width:100%;
	}
	#details-tab-content,#review-tab-content{
		padding:0 !important;
	}
	.details-enquiry-form{
		padding:25px 15px;
	}
	.details-enquiry-form .reel-title{
		display:none;
	}
	.reel-list{
		display:none;
		padding-right:15px;
	}	
	.details-enquiry-form .cart-list-single-mobile {
    display: block;
	}
	.cart-list-single{
		flex-wrap: wrap;
	}
	.cls-image{
		margin-right:0;
		width:100%;
	}
	.cls-image img{
		width:100%;
		height:150px;
		object-fit:cover;
	}
	.cls-info{
		margin-top:20px;
		width:100%;
	}
	.cart-form-actions{
		padding:15px 0;
	}	
	.cart-progress{
		display: flex;
	}
	.cart-progress a{		
		padding: 10px 10px 10px 35px;
    background-size: 20px;
		background-position: 2px;
		flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	}
	.cart-progress a.details-tab{
		min-width:150px;
	}
	.close-details-enquiry{
		display:none;
	}
	.mobile-enquiry-nav{
		display:block;
		position: absolute;   
	}
	.mobile-enquiry-nav.men-back{
		top: 15px;
    left: 15px;
	}
	.mobile-enquiry-nav.men-next{
		top: 15px;
    right: 15px;
	}
	.edit-details{
		display:none;
	}
	.review-cart-edit-mobile{
		display:inline-block;
	}
	.details-enquiry-title{
		display:block;
		position:relative;
		text-align:center
	}	
	/* .cart-progress a.review-tab{
		display:none;
	} */
	.form-group-half-wrapper{
		flex-wrap: wrap;
	}
	.form-group-half{
		width:100%;
	}
	.selected-video-title{
		font-size: 24px;  
  	line-height: 32px;
	}
	.selected-video-request{
		flex-wrap: wrap;
	}
	.svr-left,.svr-right{
		width:100%;
	}
	.svr-left a{
		margin:0 20px 10px 0;
	}
	.svr-right a{
		margin:0 0 10px 0;
	}
	.selected-video-info{
		margin:0;
	}
	.svi-col-1,.svi-col-2,.svi-col-3{
		width:100%;
	}
	.next-in-queue{
		margin:25px 0 0 0;
		min-height:auto;
		border-left:0px none;
	}
	.next-in-queue h3{
		padding:0 0 25px 0;
	}
	
	.remove-tc {
    position: absolute;
    top: -85px;
    right: 0;
}
	a.form-addmore-link{
		font-size:14px;
		line-height:18px;
	}
	.begin-end-tc,.format-framerate{
		flex-wrap: wrap;
	}
	.tc-time,.formatframe{
		width:100%;
		margin:0 0 15px 0;
	}
	.formatframe .niceselect{
		width:100%;
	}
	.reel-title{
		flex-wrap:wrap
	}
	.reel-title h3{
		width:100%;
		margin:10px 0 0 0;
	}		
	.copylink{
		display:inline-block;
		position:static;
		margin:15px 0 0 0;
	}
	.modal-project-thumbnail{
		display:none;
	}
	.notification-modal{
		padding:30px 10px;
	}
	.ff-modal{
		padding:0;
		width:100%;
		max-width:100%;
	}	
	.modal-project-thumbnail{
		width:100%;
		margin:0 auto;
		text-align:center
	}
	.modal-project-thumb{
		width:200px;
		height:200px;
	}
	.modal-project-details{
		width:100%;
	}
	.ff-modal .modal-header{
		padding:15px 25px;
	}
	.ff-modal .fancybox-close-small{
		right:15px;
	}
	.modal-section{
		padding:25px;
	}
	.modal-create-btn,.modal-create-btn:hover,.modal-create-btn:active,.modal-create-btn:focus{
		padding:15px 40px;
	}	
	.selected-items-count{
		width:100%;		
	}
	.selected-items-left a,.selected-items-right a{
		margin-right:10px;
	}
	.close-selected-header{
		position: absolute;
		top:10px;
		right:0;
	}
	.selected-items-right a span{
		display:none;
	}
	.selected-items, .selected-items span, .selected-items a{
		font-size:14px;
		line-height:18px;
	}
	.homepage-counter-border{
		display:none;
	}
	.counter-single{
		margin:0;
		padding:15px 0;
		border-top:1px solid #c0c0c0;
		border-right:0px none;
	}
	.counter-single.last{
		padding:0
	}
	.counter-single.first{	
		padding:0 0 15px 0;
		border-top:0px none;
	}
	.footer-links-wrapper{
		margin-top:35px;
		justify-content: flex-start;
	}
	.footer-links-single{
		margin-right:20px;
	}
	.social-links-wrapper{		
		text-align:left;
	}
	.copyright-wrapper{
		flex-wrap: wrap;
	}
	.copyright-wrapper p{
		width:100%;
		margin:0 0 20px 0;
	}
	.privacy a:first-child{
		margin:0 10px 0 0;
	}
	.privacy a:last-child{
		margin:0 0 0 10px;
	}
	.backtotop-mobile{
		display:block
	}
	h2.counter-number{
		margin-bottom:8px;
		font-size:42px;
		line-height:50px;
	}
	.innerpage-banner{
		padding:40px 0;
	}
	.allthemes-filters.filters-left{
		width:100%;
	}
	.allthemes-filters.filters-right{			   
		position: absolute;
		bottom: 0;					
		left: 50%;
	}
	.allthemes-filters.filters-right.selected-project-filter{
		position:static;
		margin-top:2px;
	}
	.allthemes-filters.filters-right .allthemes-filter-single{
		width:43%;
	}
	.allthemes-filter-single{
		width:50%;
		margin:0 0 25px 0;

	}
	.allthemes-filters.filters-right p{
		margin:0 0 5px 0;
	}	
	.ff-filters .niceselect span{
		width:100%;
	}
	.ff-filters .niceselect{
		width:140px;
	}
	.ff-filters .nice-select .list{
		width:auto;
		max-width:auto;
	}
	.ff-filters .niceselect span{
		width:100%;
	}
	.addtofavourite,.share{
		margin:0 20px 15px 0;
	}
}
@media (min-width:577px) and (max-width:767px){

}
@media (max-width:576px){
	
}
@media (max-width:425px){
	.request-reel-type label.radio-container-theme{
		margin-bottom:10px;
	}
}
@media (max-width:390px){
	/* #review-tab-content .cart-form-actions .btn-ff{
		padding:8px;
		font-size:14px;
	} */
	#review-tab-content .cart-form-actions a{
		margin-right:15px;
	}

}
@media (max-width:360px){	
	.cart-progress a{		
		padding: 10px 10px 10px 25px;
    background-size: 20px;
		background-position: 2px;
		flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	}
	.login-text br{
		display:block;
	}
	h2.section-title-half{
		width:55%;
	}	
	.selected-items-count{
		font-size:12px;
	}
}
@media (max-width:350px){
	img.apostrophe{
		top:90px;
		left:auto;
	}
}
