@font-face {
	font-family: 'Barlow';
	src: url('../fonts/Barlow-Regular.eot');
	src: url('../fonts/Barlow-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Barlow-Regular.woff2') format('woff2'), url('../fonts/Barlow-Regular.woff') format('woff'), url('../fonts/Barlow-Regular.ttf') format('truetype'), url('../fonts/Barlow-Regular.svg#Barlow-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Barlow';
	src: url('../fonts/-Medium.eot');
	src: url('../fonts/Barlow-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Barlow-Medium.woff2') format('woff2'), url('../fonts/Barlow-Medium.woff') format('woff'), url('../fonts/Barlow-Medium.ttf') format('truetype'), url('../fonts/Barlow-Medium.svg#Barlow-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Barlow';
	src: url('Barlow-SemiBold.eot');
	src: url('../fonts/Barlow-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Barlow-SemiBold.woff2') format('woff2'), url('../fonts/Barlow-SemiBold.woff') format('woff'), url('../fonts/Barlow-SemiBold.ttf') format('truetype'), url('../fonts/Barlow-SemiBold.svg#Barlow-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Barlow';
	src: url('../fonts/Barlow-Bold.eot');
	src: url('../fonts/Barlow-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Barlow-Bold.woff2') format('woff2'), url('../fonts/Barlow-Bold.woff') format('woff'), url('../fonts/Barlow-Bold.ttf') format('truetype'), url('../fonts/Barlow-Bold.svg#Barlow-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	font-family: 'Barlow';
	font-weight: normal;
	font-size: 14px;
	background: #fff;
	color: #1A1A1A;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Barlow';
	font-weight: bold;
}

a:hover, input:hover {
	text-decoration: none;
	transition: background 0.2s linear;
}

a, a:hover, a:focus, a:active, input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active, textarea:focus, textarea:active {
	outline: 0;
	border: 0px none;
	box-shadow: none !important
}

/*Margins*/

.mt-5 {
	margin-top: 5px !important
}

.mt-10 {
	margin-top: 10px !important
}

.mt-15 {
	margin-top: 15px !important
}

.mt-20 {
	margin-top: 20px !important
}

.mb-5 {
	margin-bottom: 5px !important
}

.mb-10 {
	margin-bottom: 10px !important
}

.mb-15 {
	margin-bottom: 15px !important
}

.mb-20 {
	margin-bottom: 20px !important
}

.mb-25 {
	margin-bottom: 25px !important
}

.mb-30 {
	margin-bottom: 30px !important
}

.mb-35 {
	margin-bottom: 3520px !important
}

.mb-40 {
	margin-bottom: 40px !important
}

.mb-45 {
	margin-bottom: 45px !important
}

.mb-50 {
	margin-bottom: 50px !important
}

/*Margins*/

/*Paddings*/

.pl-0 {
	padding-left: 0 !important
}

.pr-0 {
	padding-right: 0 !important
}

.pt-10 {
	padding-top: 10px !important
}

.pb-10 {
	padding-bottom: 10px !important
}

.pt-25 {
	padding-top: 25px !important
}

.pb-25 {
	padding-bottom: 25px !important
}

.pt-50 {
	padding-top: 50px !important
}

.pb-50 {
	padding-bottom: 50px !important
}

.pt-75 {
	padding-top: 75px !important
}

.pb-75 {
	padding-bottom: 75px !important
}

/*Paddings*/

/*Buttons*/

.btn-ff, .btn-ff:active, .btn-ff:focus {
	display: inline-block;
	padding: 8px 16px;
	font-family: "Barlow";
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	text-transform: capitalize;
}

.btn-ff.btn-ff-icon {
	position: relative;
	padding-left: 16px;
	padding-right: 36px;
}

.btn-ff.btn-ff-icon img {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
}

.btn-ff.btn-ff-icon, .btn-ff.btn-ff-icon:hover, .btn-ff.btn-ff-icon:focus, .btn-ff.btn-ff-icon:active {
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 42px;
}

.btn-primary-dark {
	background: #214D7F;
	color: #fff;
}

.btn-primary-dark:hover {
	background: #2A62A2;
	color: #fff;
}

.btn-primary-dark:active, .btn-primary-dark:focus {
	background: #193B61;
}

.btn-primary-dark:focus {
	outline: 1px solid #fff;
	outline-offset: -3px;
}

.btn-secondary-dark {
	background: #fff;
	color: #214D7F;
	outline: 2px solid #214D7F;
	outline-offset: -2px;
}

.btn-secondary-dark:hover {
	background: #2A62A2;
	outline: 2px solid #2A62A2;
	color: #fff;
}

.btn-secondary-dark:active, .btn-secondary-dark:focus {
	background: #193B61;
	color: #fff;
}

.btn-secondary-dark:focus {
	outline: 1px solid #fff;
	outline-offset: -3px;
}

.btn-tertiary-dark {
	background: #1A1A1A;
	color: #fff;
}

.btn-tertiary-dark:hover {
	background: #474747;
	color: #fff;
}

.btn-tertiary-dark:active, .btn-tertiary-dark:focus {
	background: #1a1a1a;
}

.btn-tertiary-dark:focus {
	outline: 1px solid #fff;
	outline-offset: -3px;
}

.btn-tertiary-light {
	background: #fff;
	color: #1a1a1a;
}

.btn-tertiary-light:hover {
	background: #F2F2F2;
	color: #1a1a1a;
}

.btn-tertiary-light:active, .btn-tertiary-light:focus {
	background: #C0C0C0
}

.btn-tertiary-light:focus {
	outline: 1px solid #fff;
	outline-offset: -3px;
}

.btn-transparent {
	background: transparent;
}

.full-width-btn {
	display: block;
	width: 100%;
}

/*Buttons*/

/*Links*/

a.primary-link {
	color: #214D7F;
	font-family: "Barlow";
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	border-bottom: 2px solid transparent;
}

a.primary-link:hover {
	color: #2A62A2;
	border-bottom: 2px solid transparent;
}

a.primary-link:active {
	color: #153151;
	border-bottom: 2px solid #0D3B64 !important;
}

a.primary-link:focus {
	color: #153151;
	border-bottom: 2px solid transparent;
}

a.subhead-link {
	padding: 6px;
	color: #214D7F;
	font-family: "Barlow";
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
	border: 2px solid transparent;
}

a.subhead-link:hover {
	color: #2A62A2;
	border-bottom: 2px solid #2A62A2;
}

a.subhead-link:active {
	color: #153151;
	border-bottom: 2px solid #0D3B64 !important;
}

a.subhead-link:focus {
	color: #153151;
	border: 2px solid #153151;
}

a.inline-link {
	padding: 6px;
	color: #1A1A1A;
	font-family: "Barlow";
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	border: 2px solid transparent;
}

a.inline-link:hover {
	color: #1A1A1A;
	border-bottom: 2px solid #1A1A1A;
}

a.inline-link:active {
	color: #1A1A1A;
	border-bottom: 2px solid #1A1A1A !important;
}

a.inline-link:focus {
	color: #1A1A1A;
	border: 2px solid #1A1A1A;
}

/*Links*/

/*Navigation*/

#top-logo {
	height: 94px;
}

.navbar.ff-navbar {
	position: relative;
	padding: 15px 0;
	z-index: 10
}

.navbar.ff-navbar .navbar-brand {
	padding: 0;
}

.navbar.ff-navbar .navbar-nav .nav-link {
	margin-top: 20px;
	margin-right: 25px;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
	text-transform: uppercase;
}

.navbar.ff-navbar .navbar-nav .nav-link:active {
	font-weight: bold
}

li.signin-link-desktop a[aria-expanded="true"] img {
	transform: rotate(180deg);
	/*margin-top: -4px;*/
}
li.signin-link-desktop a[aria-expanded="true"] img.client-avatar{
	transform: none;
}

.btn-ff.enquiry {
	margin-top: 20px;
	margin-right: 0;
	text-transform: uppercase;
	background-image: url('../images/cart-white.svg');
}

.dropdown-menu.signin-flyout {
	left: auto;
	right: 30px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	box-shadow: 0 2px 50px 0 rgba(26, 26, 26, 0.2);
}

.dropdown-toggle::after {
	display: none !important;
}

.signin-flyout-wrapper {
	max-width: 630px;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.signin-flyout-wrapper h3 {
	margin: 0 0 25px 0;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.signin-flyout-wrapper p.signin-text {
	margin: 0 0 20px 0;
	min-height: 72px;
	color: #1A1A1A;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.signin-flyout-wrapper a, .signin-flyout-wrapper a:hover, .signin-flyout-wrapper a:active, .signin-flyout-wrapper a:focus {
	text-transform: uppercase;
}

.create-account {
	width: 250px;
	padding: 0 40px 0 0;
	border-right: 1px solid #C0C0C0;
}

.sign-in-user {
	width: 250px;
	padding: 0 0 0 40px;
}

.dropdown-item:hover, .dropdown-item:focus {
	background: #F2F2F2
}

/*Navigation*/

h1.page-title-large {
	color: #1A1A1A;
	font-size: 63px;
	letter-spacing: 0;
	line-height: 71px;
}

h1.page-title-medium {
	color: #232323;
	font-size: 60px;
	letter-spacing: -0.24px;
	line-height: 70px;
}

h1.page-title-small {
	color: #1A1A1A;
	font-weight: 600;
	font-size: 42px;
	letter-spacing: 0;
	line-height: 50px;
}

.page-container {
	width: 100%;
	/* max-width: 1440px; */
	max-width: 100%;
	margin: 0 auto;
}

.page-section {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 75px;
}

.page-section.mb-0 {
	margin-bottom: 0;
}

.page-section.pt-40 {
	padding-top: 40px;
}

.page-section.pt-75 {
	padding-top: 75px;
}

.page-section.similar-section-wrapper {
	padding-bottom: 90px;
}

.similar-section-wrapper .grey-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #EBEAE9
}

.section-container {
	position: relative;
	width: 100%;
	float: left;
}

.grey-bg {
	position: absolute;
	top: -130px;
	width: 100%;
	height: 75%;
	background: #EBEAE9
}

.innerpage-banner-grey-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80%;
	background: #EBEAE9;
}

.grey-bg:after,.innerpage-banner-grey-bg:after{
	content: "";
    width: 100%;
    height: 100%;
    background-image: url('../images/noise-bg.png');
    background-position: top left;
    position: absolute;
    left:0;
    top:0;    		
}

.innerpage-banner-grey-bg.full-height {
	height: 100%;
}

.no-video .grey-bg {
	height: 140%;
}

.no-video.no-login .grey-bg {
	height: 130%;
}

.home-title {
	margin: 50px 0 35px 0;
	/* 	white-space: pre;  */
}
.home-title p{
		margin:0;
}

.home-search-wrapper {
	position: relative;
	/* 	animation: searchfade 0.5s ease-in-out;	 */
}

/* @keyframes searchfade{
	from{
		opacity:0.5
	}
	top{
		opacity:1
	}
} */

.homesearch-fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 5;
	animation: searchmove 0.5s ease-in-out;
}

.homesearch-fixed form.home-search {
	margin: 0;
}

@keyframes searchmove {
	from {
		top: -50px;
	}
	to {
		top: 0px;
	}
}

form.home-search {
	position: relative;
	margin: 0 0 50px 0;
}

form.home-search input[type=text] {
	width: 100%;
	padding: 23px 80px 23px 23px;
	color: #8F8F8F;
	font-family: "Barlow";
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	border: 1px solid #C0C0C0;
	border-radius: 0;
}

form.home-search button {
	position: absolute;
	right: 0;
	width: 72px;
	height: 72px;
	padding: 0;
	/* background: #232323 url("images/search-icon.png") no-repeat right top; */
	background: #232323;
	cursor: pointer;
}

.home-banner-video {
	position: relative;
}

.home-banner-video a {
	display: block;
}

.home-banner-video-description {
	padding: 20px;
	background: rgba(0, 0, 0, 0.4);
}

.home-banner-video-description p {
	margin: 0;
	color: #FFFFFF;
	font-family: "Barlow";
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multicolored-line {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.multicolored-line div {
	width: 14.28%;
	height: 8px;
}

.multicolored-line div:nth-child(1) {
	background: #0F121C
}

.multicolored-line.multicolred-footer-line div:nth-child(1) {
	background: #CCC3C3
}

.multicolored-line div:nth-child(2) {
	background: #D7C400
}

.multicolored-line div:nth-child(3) {
	background: #00BAF8
}

.multicolored-line div:nth-child(4) {
	background: #00BD00
}

.multicolored-line div:nth-child(5) {
	background: #D0009E
}

.multicolored-line div:nth-child(6) {
	background: #D00000
}

.multicolored-line div:nth-child(7) {
	background: #0C1EAF
}

div.section-title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

h2.section-title {
	display: flex;
	align-items: center;
	color: #1A1A1A;
	font-family: 'Barlow';
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 50px;
	text-transform: capitalize;
}

h2.section-title img {
	margin-right: 15px;
}

div.section-title-wrapper a.primary-link {
	text-transform: uppercase
}

div.block-single {
	position: relative;
	margin-bottom: 25px;
	border-top: 1px solid #C0C0C0;
}

div.block-single h3 {
	width: 100%;
	margin: 10px 0 15px 0;
	color: #1A1A1A;
	font-family: "Barlow";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.block-info {
	position:relative;
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.block-info div p.block-info-title {
	margin: 0 0 5px 0;
	color: #8F8F8F;
	font-family: "Barlow";
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

div.block-info div {
	margin-right: 30px;
}

div.block-info div p.block-info-content {
	margin: 0;
	color: #1A1A1A;
	font-family: "Barlow";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

div.block-single.how-we-work {
	margin-bottom: 0;
}

div.how-we-work-title {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.how-we-work .block-info p {
	margin: 0;
	color: #1A1A1A;
	font-family: Barlow;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

div.home-testimonials {
	position: relative;
	padding: 80px 110px 80px 220px;
	background: #222222 url('../images/checkbox-pattern.svg') no-repeat center;
	background-size: cover;
}

div.home-testimonials h2.section-title {
	position: relative;
	margin: 0 0 30px 0;
	color: #fff;
}

img.apostrophe {
	position: absolute;
	top: 95px;
	left: -80px;
}

p.testimonial-text {
	margin: 0 0 25px 0;
	color: #fff;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.home-testimonial-carousel .owl-dots button {
	position: relative;
	display: inline-block;
	padding: 2px 8px !important;
	height: 28px;
	width: 28px;
	margin-right: 10px;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
	border: 1px solid #fff;
}

.home-testimonial-carousel .owl-dots button.active {
	background: #fff;
}

.home-testimonial-carousel .owl-dots {
	margin-top: -30px;
	counter-reset: dots;
	text-align: right;
}

.home-testimonial-carousel .owl-dot:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 1px;
	counter-increment: dots;
	content: counter(dots);
	color: #fff;
	font-size: 12px;
}

.home-testimonial-carousel .owl-dot.active:before {
	color: #222;
}

.client-name, .counter-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.counter-info p {
	font-size: 18px;
	line-height: 26px;
}

.arrow-right {
	margin-right: 7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #fff;
}

.arrow-right-dark {
	margin-right: 7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #222;
}

.arrow-right-dark-small {
	margin-right: 7px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #222;
}

.client-name p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.testimonial-numbers {
	position: absolute;
	bottom: 80px;
	right: 110px;
	text-align: right;
	z-index: 1
}

.testimonial-numbers a, .testimonial-numbers a:hover, .testimonial-numbers a:active {
	display: inline-block;
	padding: 2px 8px;
	margin-right: 10px;
	color: #fff;
	font-family: Barlow;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
	border: 1px solid #fff;
}

.testimonial-numbers a.active {
	background: #fff;
	color: #222
}

.about-content-wrapper {
	position: relative;
	height: 100%;
}

.homepage-about-content {
	position: absolute;
	bottom: 30px;
}

.homepage-about-content p {
	margin: 0 0 25px 0;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.homepage-about-content a.btn-primary-dark {
	text-transform: uppercase;
}

.homepage-about-img {
	margin-top: 30px;
}
.homepage-about-img img{	width:640px;	height:530px;	object-fit:cover;}
.homepage-counter-border {
	margin: 35px 0 0 0;
	border-top: 1px solid #C0C0C0;
	line-height: 0;
}

.counter-single {
	margin-top: 35px;
	border-right: 1px solid #c0c0c0
}

h2.counter-number {
	margin: 0 0 10px 0;
	padding: 0;
	color: #1A1A1A;
	font-size: 63px;
	letter-spacing: 0;
	line-height: 71px;
}

.counter-info p {
	margin: 0;
}

.counter-single.last {
	border-right: 0px none;
}

div.blog-single {
	margin-bottom: 25px;
	border-top: 1px solid #C0C0C0;
}

.blog-title-date {
	margin: 15px 0 35px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.blog-title-date h3 {
	display: -webkit-box;
	max-height: 96px;
	color: #111F2E;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.2px;
	line-height: 32px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

div.date-info {
	width: 50px;
	margin-left: 50px;
	text-align: center;
}

div.date-info span {
	display: block
}

span.date-number {
	margin: 0;
	color: #1A1A1A;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 44px;
	text-align: right;
}

span.month, span.year {
	color: #1A1A1A;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	text-align: right;
}

.blog-author {
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.blog-author p {
	margin: 0;
	color: #1A1A1A;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.blog-tags {
	margin: 0;	white-space: nowrap;    overflow: hidden;    text-overflow: ellipsis;
}

.blog-tags a {
	display: inline-block;
	padding: 3px 10px 5px 10px;
	margin: 0 10px 16px 0;
	background: #E0E0E0;
	color: #1A1A1A;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 20px;
	border-radius: 18px;
}

/*Footer*/

.clearfix {
	clear: both;
	line-height: 0;
}

footer {
	padding: 90px 0 0 0;
	background: #000;
}

.footer-getintouch-wrapper {
	margin-top: -130px;
	padding: 20px;
	background-color: #2A62A2;
	background-image: url('../images/filmstrip-counter-pattern.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.footer-getintouch p {
	margin: 0;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 32px;
}

.footer-getintouch a, .footer-getintouch a:focus, .footer-getintouch a:active {
	margin-left: 10px;
	text-transform: uppercase;
}

.footer-intro-wrapper {
	padding: 0 15px 0 0;
}

img.footer-logo {
	width: 170px;
}

p.footer-intro {
	margin: 20px 0 0 0;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.footer-links-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.footer-links-single {
	margin-right: 60px;
}

.footer-links-single h4 {
	margin: 0 0 15px 0;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
	text-transform: uppercase;
}

.footer-links-single ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer-links-single ul li a {
	margin: 0 0 10px 0;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.social-links-wrapper {
	margin-top: 35px;
	text-align: right
}

.social-links-wrapper a {
	display: inline-block;
	margin-right: 5px;
}

.footer-seperator {
	margin: 25px 0;
	border-top: 1px solid #C0C0C0;
	line-height: 0;
}

.copyright-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright-info, .privacy {
	margin: 0 0 40px 0;
}

.copyright-info, .privacy a, .backtotop-mobile a {
	color: #fff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.privacy a {
	margin: 0 10px;
}

a.privacy-link {
	margin: 0 0 0 10px;
}

.privacy span {
	color: #fff
}

/*Footer*/

.multicolored-line-mobile {
	display: none;
}

.search-wrapper-mobile, .backtotop-mobile, .signin-link-mobile, .signin-flyout-mobile, .mobile-profile, .loggedin-flyout-mobile {
	display: none;
}

.client-initials-logo {
	position: absolute;
	left: -40px;
	top: 20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 40px;
	background: #D7C400;
	color: #fff;
	font-weight: 600;
	font-size: 16.12px;
	letter-spacing: 0;
	line-height: 20.15px;
	text-align: center;
}

.client-avatar {
	position: absolute;
	left: -40px;
	top: 22px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 1px solid #c0c0c0;
}

.loggedin-flyout {
	left: auto;
	right: 40px;
	margin-top: 20px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	box-shadow: 0 2px 50px 0 rgba(26, 26, 26, 0.2);
}

.loggedin-flyout:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	right: 25px;
	top: -10px;
}

.loggedin-flyout a.dropdown-item {
	padding: 15px 20px;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

loggedin-flyout a.dropdown-item:hover, .loggedin-flyout a.dropdown-item:active, .loggedin-flyout a.dropdown-item:focus {
	background-color: #F2F2F2;
	color: #1A1A1A;
}

/* .profile-arrow-up{	
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;		
		border-bottom: 5px solid black;
} */

.greeting-name {
	margin: 40px 0 15px 0;
}

.greeting-text {
	margin: 0 0 30px 0;
	color: #1A1A1A;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.searchbar-top form.home-search {
	margin: 0;
}

.innerpage-banner {
	position: relative;
	padding: 75px 0 40px 0;
}

.innerpage-banner.innerpage-banner-transparent {
	background: transparent;
}

.innerpage-banner.pt-65 {
	padding-top: 65px;
}

.innerpage-banner.pb-90 {
	padding-bottom: 90px;
}

.innerpage-banner h1 {
	margin: 0 0 40px 0;
}

.innerpage-banner h1.page-title-small {
	margin: 25px 0 15px 0;
}

.subtheme-count {
	margin: 0 0 25px 0;
	color: #1A1A1A;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

/*Nice select*/

.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 5px;
	border: solid 1px #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 42px;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}

.nice-select:hover {
	border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
	border-color: #999;
}

.nice-select:after {
	border-bottom: 1px solid #161616;
	border-right: 1px solid #161616;
	content: '';
	display: block;
	height: 7px;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	/* -webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out; */
	width: 7px;
}

.nice-select.open:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.nice-select.disabled {
	border-color: #ededed;
	color: #999;
	pointer-events: none;
	opacity: 0.5
}

.nice-select.disabled:after {
	border-color: #cccccc;
}

.nice-select.wide {
	width: 100%;
}

.nice-select.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.nice-select.right {
	float: right;
}

.nice-select.right .list {
	left: auto;
	right: 0;
}

.nice-select.small {
	font-size: 12px;
	height: 36px;
	line-height: 34px;
}

.nice-select.small:after {
	height: 4px;
	width: 4px;
}

.nice-select.small .option {
	line-height: 34px;
	min-height: 34px;
}

.nice-select .list {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
	box-sizing: border-box;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: #f6f6f6;
}

.nice-select .option.selected {
	font-weight: bold;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}

/*Nice select*/

.ff-filters .niceselect {
	width: 160px;
	color: #393939;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.16px;
	border-radius: 0;
	border: 0px none;
	border-bottom: 1px solid #8D8D8D;
}

.ff-filters .niceselect span {
	width: 110px;
	overflow: hidden;
	display: flex;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ff-filters .nice-select .list {
	min-width: 160px;
	max-height: 250px;
	color: #1A1A1A;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0;
	border: 1px solid #C0C0C0;
	border-radius: 2px;
	background-color: #FFFFFF;
	box-shadow: 2px 10px 30px 0 rgba(26, 26, 26, 0.1);
}

/* .ff-filters .mCSB_inside>.mCSB_container {
	margin-right: 0;
}

.ff-filters .mCSB_scrollTools {
	border: 1px solid #E7E7E7;
	background: linear-gradient(90deg, #F8F8F8 0%, #FAFAFA 50.51%, #FAFAFA 100%);
	opacity: 1;
}

.ff-filters .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 8px;
	border-radius: 4px;
	background-color: #8F8F8F;
}

.ff-filters .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
	background: transparent
} */

.mCSB_inside>.mCSB_container {
	margin-right: 0;
}

.mCSB_scrollTools {
	border: 1px solid #E7E7E7;
	background: linear-gradient(90deg, #F8F8F8 0%, #FAFAFA 50.51%, #FAFAFA 100%);
	opacity: 1;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 8px;
	border-radius: 4px;
	background-color: #8F8F8F;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
	background: transparent
}

.allthemes-filters.filters-left {
	width: 850px;
	float: left;
}

.allthemes-filters.filters-right {
	float: right;
	width: 160px;
	margin-top: -26px;
}

.allthemes-filters.filters-right p {
	width: 100%;
	margin: 0 0 10px 0;
	font-size: 12px;
	letter-spacing: 0.32px;
	line-height: 16px;
}

.allthemes-filter-single {
	float: left;
	margin-right: 10px;
}

.addtofavourite {
	margin-right: 20px;
	background-image: url('../images/favourite.svg');
}

.addtofavourite:hover, .addtofavourite:focus, .addtofavourite:active {
	background-image: url('../images/favourite-white.svg');
}

.share {
	background-image: url('../images/share.svg');
}

.share:hover, .share:focus, .share:active {
	background-image: url('../images/share-white.svg');
}

.theme-select-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(26, 26, 26, 0.25);
	top: 0;
	z-index: 1;
}

/*Custom checkbox cards*/

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border-radius: 25px;
	border: 2px solid #fff;
}

.checkbox-container:hover input~.checkmark {
	background-color: transparent;
}

.checkbox-container input:checked~.checkmark {
	background-color: #00BD00;
	border: 1px solid transparent;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked~.checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 8px;
	top: 3px;
	width: 7px;
	height: 14px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*Custom checkbox cards*/

/*Custom checkbox theme*/

.checkbox-container-theme {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container-theme input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark-theme {
	position: absolute;
	top: 3px;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: transparent;
	border: 1px solid #1a1a1a;
}

.checkbox-container-theme:hover input~.checkmark-theme {
	background-color: transparent;
}

.checkbox-container-theme input:checked~.checkmark-theme {
	background-color: #1a1a1a;
	border: 1px solid #214D7F;
}

.checkmark-theme:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container-theme input:checked~.checkmark-theme:after {
	display: block;
}

.checkbox-container-theme .checkmark-theme:after {
	left: 4px;
	top: 1px;
	width: 5px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*Custom checkbox theme*/

/*Custom radio theme*/

.radio-container-theme {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-container-theme input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: transparent;
	border: 1px solid #1a1a1a;
	border-radius: 50%;
}

.radio-container-theme:hover input~.radio {
	background-color: transparent;
	border: 1px solid #1a1a1a;
}

.radio-container-theme input:checked~.radio {
	background-color: transparent;
	border: 1px solid #1a1a1a;
}

.radio:after {
	content: "";
	position: absolute;
	display: none;
}

.radio-container-theme input:checked~.radio:after {
	display: block;
}

.radio-container-theme .radio:after {
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #1a1a1a;
}

/*Custom radio theme*/

.hover-options-container {
	position: relative;
}

.hover-options-container:hover::before, .hover-options-container.selected::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 98%;
	background: rgba(26, 26, 26, 0.8);
}

.theme-single .hover-options-container:hover::before, .theme-single .hover-options-container.selected::before, .blog-single .hover-options-container:hover::before, .blog-single .hover-options-container.selected::before, .project-single .hover-options-container:hover::before, .project-single .hover-options-container.selected::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(26, 26, 26, 0.8);
}

.box-single-checkbox {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}

.box-single-checkbox.selected {
	display: block !important;
}

.box-single-share {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.box-single-share span.share-single {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 26px;
	height: 26px;
	background: #EBEAE9;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px;
	border-radius: 26px;
	border: 2px solid transparent;
	cursor: pointer;
}

.box-single-share span.share-single:active, .box-single-share span.share-single:focus {
	border: 2px solid #214D7F
}

.box-single-share span.share-msg-text {
	display: none;
	position: absolute;
	top: -35px;
	width: auto;
	height: auto;
	padding: 0 10px 1px 10px;
	background: rgba(255, 255, 255, 0.8);
	color: #1A1A1A;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 23px;
	border-radius: 2px;
}

.box-single-share span.share-msg-text:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 100%;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid rgba(255, 255, 255, 0.8);
	clear: both;
}

.box-single-share span.share-msg-text:last-child:after {
	right: 5px;
	left: auto;
}

.theme-single .box-single-share span.share-msg-text:last-child:after, .blog-single .box-single-share span.share-msg-text:last-child:after, .project-single .box-single-share span.share-msg-text:last-child:after {
	right: 17px;
	left: auto;
}

.blog-single .share-social-text, .project-single .share-social-text {
	left: -15px;
}

.theme-single .share-social-text {
	left: 25px;
}

.box-single-share span:last-child {
	margin-right: 0;
}

.box-single-share span.share-favourite {
	background-image: url('../images/favourite-grey.svg');
}

.box-single-share span.share-favourite:hover {
	background-image: url('../images/favourite-black.svg');
}

.box-single-share span.share-favourite:active, .box-single-share span.share-favourite:focus {
	background-image: url('../images/favourite-blue.svg');
}

.box-single-share span.share-social {
	background-image: url('../images/share-grey.svg');
}

.box-single-share span.share-social:hover {
	background-image: url('../images/share-black.svg');
}

.box-single-share span.share-social:active, .box-single-share span.share-social:focus {
	background-image: url('../images/share-blue.svg');
}

.box-single-share span.share-social.delete-item {
	background-image: url('../images/delete-grey.svg');
}

.box-single-share span.share-social.delete-item:hover {
	background-image: url('../images/delete-black.svg');
}

.box-single-share span.share-social.delete-item:active, .box-single-share span.share-social.delete-item:focus {
	background-image: url('../images/delete-blue.svg');
}

.box-single-share span.share-project {
	background-image: url('../images/project-grey.svg');
}

.box-single-share span.share-project:hover {
	background-image: url('../images/project-black.svg');
}

.box-single-share span.share-project:active, .box-single-share span.share-project:focus {
	background-image: url('../images/project-blue.svg');
}

.box-single-share span.share-cart {
	background-image: url('../images/cart-grey.svg');
}

.box-single-share span.share-cart:hover {
	background-image: url('../images/cart-black.svg');
}

.box-single-share span.share-cart:active, .box-single-share span.share-cart:focus {
	background-image: url('../images/cart-blue.svg');
}

.share-favourite-text {
	left: -40px;
}

.share-social-text {
	left: 25px;
}
#favourite_section .share-social-text {
	left: -15px;
}

.share-project-text {
	left: 43px;
}
#favourite_section .share-project-text {
	left: 5px;
}

.share-cart-text {
	left: 65px;
}
#favourite_section .share-cart-text {
	left: 23px;
}


.selected-project .share-cart-text {
	left: 25px;
}

.selected-items-wrapper {
	display: none;
	position: fixed;
	top: 0;
	z-index: 10;
}

.selected-items-wrapper .page-section {
	margin-bottom: 0;
}

.black-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
}

.selected-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 38px 0;
}

.selected-items, .selected-items span, .selected-items a {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.selected-items-count {
	display: inline-block;
	margin-right: 35px;
	color: #8F8F8F;
}

.selected-items-count span {
	display: inline-block;
	padding: 0 10px;
	margin-right: 5px;
	border-radius: 2px;
	background-color: #C0C0C0;
	color: #1A1A1A;
}

.selected-items-left a {
	display: inline-block;
	margin-right: 35px;
}

.selected-items-right a {
	display: inline-block;
	margin-right: 35px;
	text-transform: uppercase;
}

.selected-items-right a.selectedheader-more {
	display: none;
}

.selected-items-right a:last-child {
	margin-right: 0;
}

.selected-items-right a img {
	position: relative;
	top: -2px;
}

.ff-modal {
	padding: 0;
	width: 900px;
	max-width: 900px;
	border: 1px solid #c0c0c0;
	border-radius: 2px
}

.ff-modal .modal-header {
	padding: 15px 40px;
	background: #EBEAE9
}

.ff-modal .modal-header h3 {
	margin: 0;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.ff-modal .fancybox-close-small {
	top: 10px;
	right: 25px;
}

.modal-project-thumb {
	max-width: 360px;
	height: 460px;
	object-fit: cover;
}

.modal-content-wrapper {
	width: 100%;
	float: left;
}

.modal-project-thumbnail {
	float: left;
	width: 360px;
}

.modal-project-details {
	float: left;
	width: 538px;
	height: 460px;
}

.modal-section {
	padding: 20px 40px;
}

.modal-create-new-project {
	border-bottom: 1px solid #C0C0C0;
}

.modal-create-btn, .modal-create-btn:hover, .modal-create-btn:focus, .modal-create-btn:active {
	display: block;
	position: relative;
	padding: 15px 35px;
	border: 2px dashed #C0C0C0;
	border-radius: 2px;
	background-color: #F2F2F2;
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.modal-create-btn img {
	margin: -4px 15px 0 -15px
}

.modal-no-projects-msg {
	padding: 30px 0;
	text-align: center;
}

.modal-no-projects-msg p.title {
	margin: 0 0 15px 0;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.modal-no-projects-msg p.msg {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 22px;
}

.modal-addnew-project {
	display: none;
}

.form-group {
	position: relative;
	margin-bottom: 25px;
}

.form-group label {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.ff-field-dark, .ff-field-dark:hover {
	padding: 4px 15px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	background-color: #F2F2F2;
	border: 1px solid transparent;
	border-bottom: 1px solid #8F8F8F;
	border-radius: 0px;
	color: #1a1a1a;
}

.ff-field-dark:focus {
	background-color: #F2F2F2;
	border: 1px solid #2A62A2
}

.ff-field-light, .ff-field-light:hover {
	padding: 4px 15px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom: 1px solid #8F8F8F;
	border-radius: 0px;
}

.ff-field-light:focus {
	background-color: #fff;
	border: 1px solid #2A62A2
}

textarea.ff-field-dark, textarea.ff-field-light {
	height: auto !important;
}

.modal-actions {
	width: 100%;
	float: left;
	padding: 15px 40px;
	text-align: right;
	border-top: 1px solid #C0C0C0
}

.modal-actions input {
	margin-right: 20px;
}

.modal-actions input:last-child {
	margin-right: 0;
}

.mep-single {
	position: relative;
	margin: 0 0 15px 0;
	/* padding:15px 20px; */
	border-radius: 2px;
}

.mep-single-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(26, 26, 26, 0.5)
}

.mep-single-overlay.selected {
	background-color: rgba(33, 77, 127, 0.6)
}

.mep-single img {
	height: 82px;
	max-height: 82px;
	object-fit: cover;
}

.mep-single-title {
	position: absolute;
	top: 15px;
	left: 25px;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.mep-single-count {
	position: absolute;
	bottom: 0;
	left: 25px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.mep-search {
	position: relative;
	margin: 0 0 15px 0;
}

.mep-search input[type="text"] {
	padding: 15px 15px 15px 60px;
	width: 100%;
	border: 1px solid #c0c0c0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.mep-search img {
	position: absolute;
	left: 25px;
	top: 15px;
}

.mep-single .mep-box-single-checkbox {
	display: none;
	position: absolute;
	left: auto;
	right: 10px;
	top: 30px;
	z-index: 1;
}

.mep-single .mep-box-single-checkbox.selected {
	display: block !important
}

.mep-single .checkbox-container input:checked~.checkmark {
	background-color: #fff;
}

.mep-single .checkbox-container .checkmark:after {
	left: 8px;
	top: 3px;
	width: 7px;
	height: 14px;
	border: solid #000;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-social-share {
	margin-top: 10px;
}

.modal-social-share a {
	display: inline-block;
	margin-right: 20px;
}

span.emailaddress {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 2px 10px;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 20px;
	border-radius: 18px;
	background-color: #E0E0E0;
}

span.emailaddress img {
	width: 15px;
	margin-top: -2px;
}

.copylink, .copylink:hover, .copylink:focus, .copylink:active {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.linkfield {
	padding-right: 80px
}

.modal-message .fancybox-close-small {
	display: none;
}

.modal-message {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	text-align: center;
}

.modal-message p {
	margin: 15px 0;
}

.notification-message {
	display: none;
}

.notification-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	max-width: 300px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 40px 30px;
	background: #fff;
	box-shadow: 0 2px 50px 0 rgba(26, 26, 26, 0.2);
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	z-index: 21
}

.notification-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(30, 30, 30, 0.5);
	z-index: 20;
}

.login-text {
	margin: 5px 0;
	color: #1A1A1A;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.login-text br {
	display: none;
}

.google-login, .google-login:hover, .google-login:focus, .google-login:active {
	display: block;
	margin: 0 0 25px 0;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 2px;
	background-color: #D00000;
}

.google-login img {
	margin: -2px 5px 0 0;
}

.showpassword, .confirmpassword {
	position: absolute;
	top: 37px;
	right: 15px;
}

.login-link, .login-link:hover, .login-link:focus, .login-link:active {
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.keepsignedin-wrapper {
	margin: 0 0 35px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.ff-register, .ff-forgotpass {
	display: none;
}

#enquiry-master-content .form-group label {
	font-weight: 600;
}

.reel-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.reel-title h3 {
	/*margin: 0 0 0 35px;*/
	margin:0;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.request-reel-type {
	padding: 20px;
	background-color: #EBEAE9;
}

.request-reel-type label {
	display: block;
}

.request-reel-type label.radio-container-theme {
	display: inline-block;
	margin-right: 35px;
}

.request-reel-type label.radio-container-theme span, .tc-time label {
	font-weight: 500 !important;
}

label.radio-container-theme span.radio-label {
	position: relative;
	top: -2px;
}

.begin-end-tc, .format-framerate {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 0 10px 0;
}

.end-tc {
	position: relative;
}

.tc-time {
	width: 295px;
}

.tooltip-info {
	position: relative;
	top: -1px;
	left: 10px;
}

.form-addmore {
	margin-bottom: 25px;
}

a.form-addmore-link {
	display: block;
	margin: 0;
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

a.form-addmore-link span {
	position: relative;
	top: 2px;
}

a.form-addmore-link img {
	margin-right: 10px;
}

.remove-tc {
	position: absolute;
	top: 0;
	right: 0;
}

.formatframe label {
	display: block
}

.formatframe .niceselect {
	width: 295px;
}

.ff-select-dark {
	padding: 0 30px 0 15px;
	font-size: 14px;
	letter-spacing: 0;
	border-radius: 0;
	background-color: #F2F2F2;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #8F8F8F;
}

.ff-select-dark:focus, .ff-select-light:focus {
	border: 1px solid #2A62A2;
}

.ff-select-dark ul.list, .ff-select-light ul.list {
	min-width: 100%;
	max-height: 250px;
	border-radius: 0px;
	background: #F2F2F2
}

.ff-select-dark ul.list li.option {
	border-bottom: 1px solid #C0C0C0;
}

.ff-select-dark ul.list li.option.selected {
	background: #F2F2F2;
	font-weight: normal;
}

.ff-select-dark ul.list li.option:hover, .ff-select-dark ul.list li.option.selected:hover {
	background: #E5E5E5
}

.ff-select-light {
	padding: 0 30px 0 15px;
	font-size: 14px;
	letter-spacing: 0;
	border-radius: 0;
	background-color: #fff;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #8F8F8F;
}

.ff-select-light ul.list {
	background: #fff;
}

.tooltip-msg {
	display: none;
	position: absolute;
	top: -30px;
	left: -59px;
	min-width: 132px;
	padding: 0 10px 2px 10px;
	border-radius: 2px;
	background-color: rgba(26, 26, 26, 0.8);
	color: #fff;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
}

.tooltip-msg:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 100%;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid rgba(26, 26, 26, 0.8);
	clear: both;
}

#upload-reel-times {
	padding: 30px;
	text-align: center;
	cursor: pointer;
	border: 2px dashed #C0C0C0;
}

#upload-reel-times p {
	margin: 10px 0 0 0;
}

.uploaded-files-list {
	margin: 0 0 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.file-single {
	width: 100%;
	margin: 0 0 10px 0;
}

.file-single .file-type-icon, .file-single span {
	margin-right: 10px;
}

label.error {
	display: block;
	color: #D00000;
	font-weight: normal !important;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
}

input.error, textarea.error, select.error+div.nice-select {
	position: relative;
	border: 2px solid #D00000 !important;
	background: #F2F2F2 url('../images/error-icon.svg') no-repeat center right 20px !important;
}

.selected-video-title {
	margin: 0 0 35px 0;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 40px;
}

.selected-video-request {
	padding: 10px 0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

.request-reel-btn {
	background-image: url('../images/reel-blue.svg');
}

.request-reel-btn:hover, .request-reel-btn:active, .request-reel-btn:focus {
	background-image: url('../images/reel-white.svg');
}

.enquiry-cart-btn, .enquiry-cart-btn:hover, .enquiry-cart-btn:active, .enquiry-cart-btn:focus {
	background-image: url('../images/cart-white.svg');
}

.selected-video-request {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 30px 0;
}

.svr-right a {
	margin-right: 20px;
}

.svr-right a:last-child {
	margin-right: 0;
}

.selected-video-info {
	width: 100%;
	float: left;
	margin: 0 0 30px 0;
}

.svi-col-1 {
	width: 30%;
	float: left;
	padding: 0 30px 0 0;
}

.svi-col-2 {
	width: 40%;
	float: left;
	padding: 0 30px 0 0;
}

.svi-col-3 {
	width: 30%;
	float: left;
	padding: 0;
}

.svi-single p {
	margin: 0 0 15px 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.selected-video-commentary, selected-video-commentary p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.selected-video-commentary {
	margin: 0 0 25px 0;
	width: 100%;
	height: 180px;
	overflow: hidden;
}

.selected-video-commentary.show {
	height: auto
}

.show-svc, .show-svc:hover, .show-svc:focus, .show-svc:active {
	display: inline-block;
	margin: 0 0 25px 0;
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.selected-video-details-wrapper {
	border-right: 1px solid #C0C0C0;
}

.next-in-queue {
	min-height: 650px;
	padding: 0;
	/* 	border-left:1px solid #C0C0C0; */
}

.next-in-queue h3 {
	padding: 0 25px 25px 25px;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

/* .next-in-queue-videos{
	height:600px;
	max-height:600px;
} */

.niqv-single {
	padding: 25px;
}

.niqv-video {
	position: relative;
}

.niqv-overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(26, 26, 26, 0.8);
}

.niqv-overlay a {
	display: block;
	padding: 35px 15px;
}

.niqv-overlay p {
	display: -webkit-box;
	margin: 0;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 20px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.niqv-single:first-child {
	padding: 0 25px 25px 25px;
}

.niqv-single h4 {
	margin: 10px 0;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.niqv-reel-no {
	margin: 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.section-title-small {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.empty-cart-left {
	height: 696px;
	border: 1px solid #C0C0C0;
	text-align: center;
	padding-top: 170px;
}

.empty-cart-text {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.enquiry-form-container {
	border: 1px solid #C0C0C0;
}

.enquiry-form {
	padding: 30px 50px 0 50px;
}

.form-group-half-wrapper {
	display: flex;
	justify-content: space-between;
}

.form-group-half {
	width: 48%;
}

.enquiry-form-actions {
	padding: 15px 50px 15px 50px;
	border-top: 1px solid #C0C0C0;
	text-align: right
}

.enquiry-form-actions a {
	margin-right: 20px;
}

.enquiry-form-actions input:last-child {
	margin-right: 0;
}

.remove-enquiry-url {
	position: absolute;
	top: 0;
	right: 0;
}

.cart-progress a {
	display: inline-block;
	color: #1a1a1a;
	padding: 10px 20px 10px 60px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	border-top: 3px solid #c0c0c0;
	background-image: url('../images/cart-next.svg');
	background-repeat: no-repeat;
	background-position: 20px;
	cursor: pointer;
	opacity: 0.5
}

.cart-progress a.current {
	border-top: 3px solid #214D7F;
	background-image: url('../images/cart-current.svg');
	opacity: 1
}

.cart-progress a.done {
	border-top: 3px solid #c0c0c0;
	background-image: url('../images/cart-done.svg');
	opacity: 1
}

.cart-title {
	margin: 0 0 25px 0;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.cart-list-single {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 25px 20px;
	margin: 0 0 25px 0;
	border: 1px solid #D6D6D6;
}

.cls-image {
	/*margin-right: 20px;*/
}

.cls-image img {
	width: 270px;
	height: 150px;
	object-fit: cover;
}

.cls-info h4 {
	margin: 0 0 15px 0;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 27px;
}

.cls-info .block-info {
	margin: 0 0 20px 0;
}

.cls-remove, .cls-remove:hover, .cls-remove:focus, .cls-remove:active {
	color: #214D7F;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.cart-form-actions {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px 50px 15px 50px;
	text-align: right;
	box-shadow: 5px 0 6px 0 rgba(33, 43, 54, 0.2);
	background: #fff;
	z-index: 1;
}

.cart-form-actions a {
	margin-right: 20px;
}

.cart-form-actions input:last-child {
	margin-right: 0;
}

#details-tab-content, #review-tab-content, #enquiry-sent-content {
	display: none;
}

.details-title {
	margin: 0;
	padding: 15px 20px;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
	border: 1px solid #D6D6D6;
	border-right: 0px none;
}

.cart-list-single.details-list-single {
	position: relative;
	margin: 0;
	border-top: 0px none;
	border-right: 0px none;
	cursor: pointer;
}

.detail-complete {
	position: absolute;
	left: -14px;
	top: 60px;
}

.cart-list-single.details-list-single.active-detail, .cart-list-single.details-list-single.active-selected {
	background: #EBEAE9
}

.cart-list-single.details-list-single .cls-image img {
	width: 210px;
	height: 110px;
}

.cart-list-single.details-list-single .cls-info h4 {
	display: -webkit-box;
	margin: 0 0 15px 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.cart-list-single.details-list-single div.block-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end
}

.cart-list-single.details-list-single div.block-info div p.block-info-title {
	margin: 0 0 5px 0;
	font-size: 14px;
	line-height: 22px;
}

.cart-list-single.details-list-single div.block-info div p.block-info-content {
	font-size: 16px;
	line-height: 24px;
}

.cart-list-single.details-list-single .cls-info .block-info {
	margin: 0;
}

.details-enquiry-form {
	padding: 20px 30px 20px 30px;
	background: #EBEAE9
}

.details-enqiry-wrapper .request-reel-type {
	background: #fff;
}

.details-enquiry-title {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #F2F2F2;
}

.details-enquiry-title .details-title {
	padding: 0;
	border: 0px none;
}

.saved-msg {
	position: absolute;
	right: 75px;
	top: 20px;
	color: #8F8F8F;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.reel-list {
	padding-right: 0
}

.reel-form {
	padding-left: 0
}

.details-enquiry-form .cart-list-single-mobile {
	display: none;
}

.cfad-mobile {
	display: none;
}

.details-enquiry-form.review-enquiry-form {
	padding: 0;
}

.review-wrapper {
	padding: 40px 30px 15px 30px;
}

.review-enquiry-form label {
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.review-enquiry-form label span {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.edit-details {
	padding: 20px 30px;
	border-top: 1px solid #c0c0c0;
	text-align: right
}

.review-cart-edit {
	background-color: transparent;
	background-image: url('../images/edit-blue.svg')
}

.review-cart-edit:hover, .review-cart-edit:focus, .review-cart-edit:active {
	background-image: url('../images/edit-white.svg')
}

.enquiry-sent-wrapper {
	padding: 50px 0 0 0;
	text-align: center;
}

p.enquiry-success {
	margin: 15px 0;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

p.enquiry-success-note {
	margin: 0 0 25px 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	text-align: center;
}

.listing-video {
	width: 100%;
	height: 208px;
	background: #000;
}

.profile-top-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 35px 0;
}

.profile-top-wrapper.selected-project-top-wrapper {
	padding: 0;
	margin: 0 0 15px 0;
}

.client-initials-logo.client-initials-myprofile {
	position: static;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	padding-top: 20px;
	color: #fff;
	font-weight: 500;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 40px;
}

.profile-top-wrapper h1 {
	margin: 0 35px 0 0 !important;
}

.edit-profile {
	background-color: transparent;
	background-image: url('../images/edit-blue.svg')
}

.edit-profile:hover, .edit-profile:focus, .edit-profile:active {
	background-image: url('../images/edit-white.svg')
}

.tabs {
	width: 100%;
	margin: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background-color: transparent;
}

.tabs .tabs__items {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tabs .tabs__items li:last-of-type {
	border: none;
}

.tabs .tabs__items li a {
	display: block;
	padding: 12px 25px 12px 60px;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	border-bottom: 3px solid #c0c0c0
}

.tabs .tabs__items li a:hover {
	border-bottom: 3px solid #c0c0c0
}

.tabs .tabs__items li a.active {
	border-bottom: 3px solid #214D7F;
}

.tabs .tabs__items li a.profile-purchase-history-link {
	background-image: url('../images/purchase-history-black.svg');
	background-repeat: no-repeat;
	background-position: 24px;
}

.tabs .tabs__items li a.profile-favourite-link {
	background-image: url('../images/addto-favourite-black.svg');
	background-repeat: no-repeat;
	background-position: 24px;
}

.tabs .tabs__items li a.profile-projects-link {
	background-image: url('../images/project-profile-black.svg');
	background-repeat: no-repeat;
	background-position: 24px;
}

.purchase-history-list {
	padding: 0 60px;
}

.purchase-history-list .table .thead-light th {
	color: #1a1a1a;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	background: #EBEAE9;
	border-color: #C0C0C0;
	border-bottom: 0px;
}

.purchase-history-list .table-bordered th, .purchase-history-list .table-bordered td {
	border: 1px solid #c0c0c0
}

#profile-favourites, #profile-projects {
	display: none;
}

.no-favourite-reels p {
	margin: 0 0 25px 0;
	color: #1A1A1A;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.backtoprofile {
	margin: 0 25px 0 0;
}

.project-reel-count {
	padding-left: 55px;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.selected-project-description {
	margin: 0 0 40px 0;
}

.selected-project-description p {
	padding-left: 55px;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.project-share-wrapper {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 0 10px 0;
}

.project-share-wrapper a {
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
	border: 1px solid #214D7F
}

.project-share-wrapper a img {
	width: 40px
}

.project-share-wrapper a.project-detail-addnew {
	position: absolute;
	right: -65px;
	bottom: -30px;
	margin: 0;
	border: 0px none;
	z-index: 1
}

.tooltip-inner {
	padding: 0 10px 2px 10px;
	border-radius: 2px;
	background-color: rgba(26, 26, 26, 0.8);
	color: #fff;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
}

.bs-tooltip-top .arrow::before {
	border-top-color: rgba(26, 26, 26, 0.8);
}

.profile-tabs-wrapper {
	position: relative;
}

.profile-tabs-wrapper a.project-detail-addnew {
	position: fixed;
	right: 20px;
	bottom: 20px;
	margin: 0;
	border: 0px none;
	z-index: 1;
}

.profile-tabs-wrapper .allthemes-filters.filters-right {
	position: absolute;
	top: 0;
	/* right: 80px; */
	right:0;
}

#myprofile-projectfilter, #myprofile-addnewproject,#myprofile-favoritefilter {
	display: none;
}

.profile-tabs-wrapper a.project-detail-addnew img {
	width: 56px;
}

.editprofile-tabs-wrapper .tabs .tabs__items li a, .tnc-tabs-wrapper .tabs .tabs__items li a {
	padding: 12px 25px;
}

.edit-profilepic {
	width: 100px;
	height: 100px;
	margin-right: 25px;
	object-fit: cover;
	border-radius: 100px
}

.profile-pic-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.changepic-btn {
	margin-top: 20px;
}

.changepic-btn p {
	margin: 10px 0;
}

#change-password, #privacy-policy {
	display: none;
}

.blog-intro-wrapper, .blog-content-wrapper {
	padding: 0 175px;
}

.blog-tagline p {
	margin: 0 0 35px 0;
	color: #1A1A1A;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.author-share-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 40px 0;
}

.author-info {
	width: 50%;
}

.author-info img {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	object-fit: cover;
	border-radius:80px;
}

.author-name {
	float: left;
	width: 70%;
	padding-top: 20px;
}

.ba-name {
	margin: 0 0 5px 0;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.ba-date {
	margin: 0;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.blog-share a {
	margin-right: 20px
}

.blog-share a:last-child {
	margin-right: 0;
}

.blog-content-wrapper p {
	margin: 0 0 20px 0;
	columns: #1a1a1a;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}
.blog-content-wrapper img{
		max-width:100%;
}

.blog-content-wrapper h1, .blog-content-wrapper h2, .blog-content-wrapper h3, .blog-content-wrapper h4, .blog-content-wrapper h5, .blog-content-wrapper h6 {
	margin: 0 0 15px 0;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.blog-detail-banner {
	width: 850px;
	height: 500px;
	object-fit: cover;
	margin: 0 0 5px 0;
}

p.image-caption {
	margin: 0 0 25px 0;
	color: #1A1A1A;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 22px;
}

p.image-caption img {
	position: relative;
	top: -1px;
}

.blog-quote p {
	padding-left: 45px;
	margin: 0 0 25px 0;
	color: #1A1A1A;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
	border-left: 4px solid #2A62A2
}

.blog-detail-tags {
	padding: 30px 0 0 0;
	border-top: 1px solid #C0C0C0;
}

.blog-detail-tags .blog-tags {
	margin: 0;	white-space: initial;    
}

.blog-detail-tags h4 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.wrapper-404 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	background: #222222;
	text-align: center;
}

.error-404-title {
	width: 100%;
	margin: 0 0 40px 0;
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 0;
	line-height: 44px;
}

.btn-tertiary-dark.btn-404 {
	background: #fff;
	color: #1a1a1a;
}

.btn-tertiary-dark.btn-404:hover {
	background: #fff;
	color: #474747;
}

.btn-tertiary-dark.btn-404:active, .btn-tertiary-dark.btn-404:focus {
	background: #fff;
}

.btn-tertiary-dark.btn-404:focus {
	outline: 1px solid #1a1a1a;
	outline-offset: -3px;
}

.multicolored-line.multicolored-line-404 {
	position: absolute;
	width: 100%;
	bottom: 130px
}

.multicolored-line.multicolored-line-404 div:nth-child(1) {
	background: #CCC3C3
}

.multicolored-line.multicolored-line-404 div:nth-child(2) {
	background: #D7C400
}

.multicolored-line.multicolored-line-404 div:nth-child(3) {
	background: #00BAF8
}

.multicolored-line.multicolored-line-404 div:nth-child(4) {
	background: #00BD00
}

.multicolored-line.multicolored-line-404 div:nth-child(5) {
	background: #D0009E
}

.multicolored-line.multicolored-line-404 div:nth-child(6) {
	background: #D00000
}

.multicolored-line.multicolored-line-404 div:nth-child(7) {
	background: #0C1EAF
}

.multicolored-line.multicolored-line-404 {
	position: fixed;
	width: 100%;
	bottom: 130px
}

.multicolored-line.multicolored-line-404-2 div {
	height: 90px
}

.multicolored-line.multicolored-line-404-2 div:nth-child(1) {
	background: #1700C8
}

.multicolored-line.multicolored-line-404-2 div:nth-child(2) {
	background: #131313
}

.multicolored-line.multicolored-line-404-2 div:nth-child(3) {
	background: #D200C7
}

.multicolored-line.multicolored-line-404-2 div:nth-child(4) {
	background: #131313
}

.multicolored-line.multicolored-line-404-2 div:nth-child(5) {
	background: #00C3C2
}

.multicolored-line.multicolored-line-404-2 div:nth-child(6) {
	background: #131313
}

.multicolored-line.multicolored-line-404-2 div:nth-child(7) {
	background: #C0C0C0
}

.multicolored-line.multicolored-line-404-2 {
	position: fixed;
	width: 100%;
	bottom: 40px
}

.multicolored-line.multicolored-line-404-3 div {
	height: 40px
}

.multicolored-line.multicolored-line-404-3 div:nth-child(1) {
	width: 16.66%;
	background: #00204F
}

.multicolored-line.multicolored-line-404-3 div:nth-child(2) {
	width: 16.66%;
	background: #fff
}

.multicolored-line.multicolored-line-404-3 div:nth-child(3) {
	width: 16.66%;
	background: #39006F
}

.multicolored-line.multicolored-line-404-3 div:nth-child(4) {
	width: 16.66%;
	background: #131313
}

.multicolored-line.multicolored-line-404-3 div:nth-child(5) {
	width: 5.56%;
	background: #090909
}

.multicolored-line.multicolored-line-404-3 div:nth-child(6) {
	width: 5.55%;
	background: #131313
}

.multicolored-line.multicolored-line-404-3 div:nth-child(7) {
	width: 5.55%;
	background: #1D1D1D
}

.multicolored-line.multicolored-line-404-3 div:nth-child(8) {
	width: 16.66%;
	background: #131313
}

.multicolored-line.multicolored-line-404-3 {
	position: fixed;
	width: 100%;
	bottom: 0
}

.innerpage-banner.how-we-work-banner h1 {
	margin: 0;
}

.howwework-content-wrapper, .howwework-content-wrapper p, .hww-pointers, hww-pointers p, .hww-bottom-content, .hww-bottom-content p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.howwework-content-wrapper {
	padding-bottom: 70px;
}

.howwework-content-wrapper p, .hww-bottom-content p {
	margin: 0 0 15px 0;
}

/* .howwework-content-wrapper a,.howwework-content-wrapper a:hover,.howwework-content-wrapper a:focus,.howwework-content-wrapper a:active,.hww-bottom-content a,.hww-bottom-content a:hover,.hww-bottom-content a:focus,.hww-bottom-content a:active{
	color:#1a1a1a;
	text-decoration:underline
} */

.hww-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: -0.27px;
	line-height: 34px;
}

.hww-title img {
	margin-right: 20px;
	width:30px;
	height:30px;
	object-fit:cover;
}

.pointer-section {
	margin-bottom: 50px;
}

.hww-pointer-single {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 0 15px 0;
}

.pointer-number {
	margin-right: 20px;
}

.hww-bottom-content {
	margin: 0 0 35px 0;
}

.hww-bottom-content h3 {
	margin: 0 0 25px 0;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.tnc-question p {
	margin: 0 0 25px 0;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.tnc-reply {
	margin: 0 0 40px 0;
}

.tnc-reply p, .tnc-reply ul li {
	margin: 0 0 25px 0;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.tnc-reply ul {
	padding-left: 15px;
	list-style-type: disc;
}

.info-msg-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 15px;
	background: #ECEEFE;
	border: 1px solid #C5CBFC;
	border-left: 3px solid #0C1EAF;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.16px;
	line-height: 18px;
}

.info-msg-wrapper img {
	margin-right: 10px
}

.aboutus-info-wrapper {
	align-items: center;
}

.aboutus-info-img {
	width: 466px;
	height: 478px;
	object-fit: cover;
}

.aboutus-info-content h1.page-title-small {
	margin: 0 0 20px 0;
	padding-right: 150px;
}

.aboutus-info-content p {
	margin: 0 0 20px 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.block-single.team {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.block-single.team h3 {
	margin: 10px 0;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.block-single.team p {
	margin: 0;
}

.team-email {
	margin: 0 0 30px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.team-email img {
	margin-right: 10px;
}

.img-team {
	width: 375px;
	height: 282px;
	object-fit: cover;
}

.about-timespan-wrapper {
	background: #222;
	min-height: 800px;
}

.about-timespan-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(71, 71, 71, 0) 0%, #222222 100%);
	z-index: 1;
}

.about-content-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/* 	background: linear-gradient(180deg, rgba(71,71,71,0) 0%, #222222 100%); */
	background: linear-gradient(180deg, rgba(71, 71, 71, 0) 0%, rgba(34, 34, 34, 0.5) 25%, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 1) 100%);
}

.about-timespan-bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-timespan-bg-img-mob {
	display: none;
}

.about-timespan-content {
	position: relative;
	min-height: 800px;
	padding-bottom: 75px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	z-index: 2
}

.about-timespan-content h1, .about-timespan-content p {
	color: #fff
}

.about-timespan-content h1 {
	margin: 0 0 30px 0;
	padding: 0 195px 0 0;
}

.about-timespan-content p {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

/* .accordion {
	padding-left: 50px;
} */

.accordion .card, .accordion .card-header {
	padding: 0;
	background: transparent;
	border: 0px none;
	border-radius: 0;
}

.accordion .card-header a, .accordion .card-header a:hover, .accordion .card-header a:focus, .accordion .card-header a:active {
	display: block;
	color: #1A1A1A;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 29px;
}

.accordion .card-header a.collapsed h5 img {
	transform: rotate(180deg)
}

.accordion .card-body.collapsed {
	display: none;
}

.accordion h5 {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 0 25px 0;
	font-weight: 600;
}

.accordion h5 img {
	position: absolute;
	top: 5px;
	right: 10px;
}

.accordion .card-body {
	margin: 0 0 35px 0;
	padding: 0;
}

.accordion .card-body, .accordion .card-body p {
	color: #1A1A1A;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.accordion .card-body p {
	margin: 0;
}

.contact-us-section {
	background: #EBEAE9
}

.contact-content-wrapper {
	padding: 5px 0 45px 0;
	;
}

.contact-content-wrapper h1 {
	margin: 0 0 20px 0
}

.contact-content-wrapper p {
	margin: 0 0 35px 0;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.contact-content-wrapper .contact-enquiry-title {
	margin: 0 0 15px 0;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 26px;
}

.contact-content-wrapper .contact-detail {
	display: flex;
	width: 100%;
	margin: 0 0 15px 0;
	justify-content: flex-start;
	align-items: center;
}

.contact-content-wrapper .contact-detail p {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
}

.contact-content-wrapper .contact-detail p a, .contact-content-wrapper .contact-detail p a:hover, .contact-content-wrapper .contact-detail p a:active, .contact-content-wrapper .contact-detail p a:focus {
	color: #1a1a1a
}

.contact-content-wrapper .contact-detail img {
	margin: 0 10px 0 0;
}

.contactus-img {
	width: 600px;
	height: 340px;
	object-fit: cover;
}

.mobile-enquiry-nav, .review-cart-edit-mobile {
	display: none;
}
.save-detail-cart-wrapper{
	margin:0 0 15px 0;
	text-align:right;
}
.edit-enquiry-form{
	display:none;
}
<<<<<<< HEAD
.mr5{
	margin-right:5px !important;
}
=======
.fav-tag{
	position:absolute;
	right:0;
	bottom:0;
	display:inline-block;
	padding:10px 15px 10px 20px;		
	color: #1A1A1A;
  font-weight:600;
  font-size: 14px;
  letter-spacing: 0;
	line-height: 20px;
	border-radius:3px;
	text-align:center;
}
.fav-theme{
	background: -webkit-linear-gradient(90deg, #2A7F62 12%, #E0E0E0 0%);
  background: -o-linear-gradient(90deg, #2A7F62 12%, #E0E0E0 0%);
  background: -moz-linear-gradient(90deg, #2A7F62 12%, #E0E0E0 0%);
  background: linear-gradient(90deg, #2A7F62 12%, #E0E0E0 0%);
}
.fav-subtheme{
	background: -webkit-linear-gradient(90deg, #B33C86 12%, #E0E0E0 0%);
  background: -o-linear-gradient(90deg, #B33C86 12%, #E0E0E0 0%);
  background: -moz-linear-gradient(90deg, #B33C86 12%, #E0E0E0 0%);
  background: linear-gradient(90deg, #B33C86 12%, #E0E0E0 0%);
}
.fav-reel{
	background: -webkit-linear-gradient(90deg, #DD7230 12%, #E0E0E0 0%);
  background: -o-linear-gradient(90deg, #DD7230 12%, #E0E0E0 0%);
  background: -moz-linear-gradient(90deg, #DD7230 12%, #E0E0E0 0%);
  background: linear-gradient(90deg, #DD7230 12%, #E0E0E0 0%);
}
div.block-single img.img-fluid,div.blog-single img.img-fluid{	width:370px;	height:208px;	object-fit:cover;}
.home-banner-video .img-home-banner{
	width: 1200px;
	height:675px;
	object-fit: cover;
}
.cookie-container{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:20px;
	background:#262626
}
.cookie-content{
	width:100%;
	float:left;
}
.cookie-text{
	float:left;
	width:75%;
	color:#fafafa;
}
.cookie-link{
	float:left;
	width:25%;
	text-align:right;
}
.cookie-text a,.cookie-text a:hover,.cookie-text a:focus,.cookie-text a:active{
	color:#fff;
	font-weight:600;
	text-decoration:underline;
}
.cookie-text p{
	margin:0;
}
.accept-cookie,.accept-cookie:hover,.accept-cookie:focus,.accept-cookie:active{
	display:inline-block;
	background:#fafafa;
	color:#1A1A1A;
	padding:10px 15px;
}
.cls-image iframe,.reel-title iframe,.reel_detail_video{
	width:270px;
}
>>>>>>> Shive
