*:focus {
  outline: none;
}



.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 10;
  padding: 10px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 4px #000;
  box-sizing: border-box;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#version {
  width: 300px;
  margin: 0px auto;
  font-size: small;
  color: #333;
  font-style: italic;
  text-align: center;
}

#container {
  width: 960px;
  margin: 90px auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  letter-spacing: -2px;
  border-bottom: 1px solid #dbdbdb;
}

h3 {
  font-size: 20px;
  line-height: 42px;
}

h4 {
  font-size: 26px;
  line-height: 32px;
}

p {
  margin-bottom: 40px;
}

a {
  color:black;
}

a:hover {
  color:green;
}

pre {
  font-family: 'Menlo', monospace;
  font-size: 15px;
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
}

blockquote {position:relative; padding-left:60px; margin-bottom:30px;}
blockquote::before {content: "“";display: block;height: 0;left: 0px;position:absolute;top:20px;font-family: 'Montserrat', sans-serif;
font-size:72px;color:#000;font-weight:bold;}
#container {
  width: 960px;
  margin: 30px auto;
}

.editable,
.secondEditable
{
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dbdbdb;
}

#columns {
  width: 90%;
  margin: 30px auto;
}

.column-container {

}

.column {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: 10px 1%;
}

.github-link {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}


.medium-toolbar-arrow-under:after {
border-color: #242424 transparent transparent transparent;
top: 50px; }

.medium-toolbar-arrow-over:before {
border-color: transparent transparent #242424 transparent;
top: -8px; }

.medium-editor-toolbar {
background-color: #242424;
background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 3px #000; }
.medium-editor-toolbar li button {
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
          transition: background-color .2s ease-in; }
  .medium-editor-toolbar li button:hover {
    background-color: #000;
    color: yellow; }
.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }
.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  background: -webkit-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
  color: #fff; }

.medium-editor-toolbar-form {
background: #242424;
border-radius: 5px;
color: #999; }
.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #242424;
  box-sizing: border-box;
  color: #ccc;
  height: 50px; }
.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
background: #242424;
border-radius: 5px;
color: #fff; }

.medium-editor-placeholder:after {
color: #b3b3b1; }

/* Boxes */

.content-box {
  background: #fff;
  margin-bottom: 20px;
}
.content-box,
.content-box-header {
  position: relative;
  border-width: 1px;
  border-style: solid;
}
.content-box-header {
  font-size: 14px;
  text-transform: uppercase;
  margin: -1px -1px 0;
  padding: 15px;
  border-color: transparent;
}
.content-box-header small + .font-size-11.float-right {
  position: absolute;
  top: 14px;
  right: 10px;
}
.content-box-header-alt {
  padding: 15px 10px 14px;
}
.content-box-header-alt {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-box-header-alt small {
  font-size: 13px;
  font-weight: normal;
  display: block;
  padding: 5px 0 0;
  text-transform: none;
  opacity: .70;
  filter: alpha(opacity: 70);
}
.content-box .ui-widget-overlay {
  position: absolute;
}
.content-box .ui-widget-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
}
.content-box .content-box-wrapper {
  line-height: 1.6em;
  padding: 15px;
}
.content-box .content-box-wrapper .scrollable-content,
.content-box .content-box-wrapper p:last-child {
  margin-bottom: 0;
}
/* Icons */

.content-box .content-box-header > .glyph-icon {
  margin-right: 5px;
  opacity: .70;
  filter: alpha(opacity: 70);
}
.content-box-header-alt > .glyph-icon,
.content-box-header-alt .icon-separator .glyph-icon {
  font-size: 22px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}
.content-box-header > .icon-separator {
  position: relative;
  top: 1px;
  left: -15px;
  padding: 18px 15px 16px;
  text-align: center;
}
.content-box-header > .icon-separator .glyph-icon {
  margin-left: 3px;
}
.content-box-header-alt > .header-wrapper {
  overflow: hidden;
  display: block;
  margin-left: 40px;
}
.content-box-header-alt > .icon-separator + .header-wrapper {
  margin-left: 65px;
}
.content-box-header-alt > .icon-separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
}
.content-box-header-alt > .icon-separator .glyph-icon {
  left: 50%;
  margin-left: -15px;
}
/* Header single buttons */

.header-buttons {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  display: block;
}
.header-buttons .btn-xs {
  top: 13px;
}
.header-buttons .btn-sm {
  top: 10px;
}
.header-buttons .btn-sm:last-child {
  margin-right: 0;
}
.header-buttons > .btn-group:last-child {
  margin-right: -2px;
}
.content-box-header-alt .header-buttons .btn-xs {
  top: 24px;
}
.content-box-header-alt .header-buttons .btn-sm {
  top: 20px;
}
.content-box-header-alt .header-buttons .btn-sm:last-child {
  margin-right: 5px;
}
/* Header button separators */

.header-buttons-separator {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.header-buttons-separator .icon-separator {
  top: 0;
  left: 0;
  display: block;
  float: left;
  min-width: 20px;
  height: 100%;
  padding: 0 10px;
}
.header-buttons-separator .icon-separator .glyph-icon {
  line-height: 30px;
  position: relative;
  top: 50%;
  display: block;
  min-width: 30px;
  height: 30px;
  margin: -15px 0 0;
  text-align: center;
}
/* Header button groups */

.header-buttons > .btn-group {
  margin-top: 8px;
}
.header-buttons .btn-group-xs {
  margin-top: 14px;
}
.header-buttons .btn-group-xs:last-child {
  margin-right: 0;
}
/* Button panes */

.ui-dialog-buttonpane,
body .button-pane {
  padding: 10px;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body .button-pane-top {
  border-width: 0 0 1px;
  border-radius: 0;
}
/* Scrollable boxes sizes */

.scrollable-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  padding-right: 0;
}
.scrollable-xs {
  overflow-y: scroll;
  height: 200px;
}
.scrollable-sm {
  overflow-y: scroll;
  height: 400px;
}
.scrollable-lg {
  overflow-y: scroll;
  height: 500px;
}
/* Toggle Boxes */

.toggle-button .glyph-icon {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.hidden-button .content-box-header a,
.hidden-button .content-box-header .btn,
.hidden-button .content-box-header button {
  display: none;
}
/* Border colored content boxes */

.content-box.border-top .content-box-header {
  font-size: 18px;
  margin: 0;
}
.content-box.border-top .content-box-header small {
  opacity: .80;
  -moz-opacity: .80;
  filter: alpha(opacity: 80);
}
.content-box.border-top .content-box-header + .content-box-wrapper {
  padding-top: 0;
}
/* Boxes widths */

.box-xs {
  width: 200px;
}
.box-sm {
  width: 325px;
}
.box-md {
  width: 400px;
}
.box-lg {
  width: 500px;
}
/* Content box tabs */

.content-box-header > .ui-tabs-nav {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
.content-box-header > .ui-tabs-nav li > a {
  line-height: 49px;
  height: 49px;
  margin: 0 2px;
  color: rgba(255, 255, 255, .7);
  border: 0;
  background: none;
}
.content-box-header > .ui-tabs-nav li > a:hover {
  color: #fff;
  background: rgba(255, 255, 255, .2);
}
.content-box-header.bg-default > .ui-tabs-nav li.ui-tabs-active > a,
.content-box-header.bg-gray > .ui-tabs-nav li.ui-tabs-active > a,
.content-box-header.bg-white > .ui-tabs-nav li.ui-tabs-active > a,
.content-box-header.bg-default > .ui-tabs-nav li.ui-tabs-active.ui-state-hover > a,
.content-box-header.bg-gray > .ui-tabs-nav li.ui-tabs-active.ui-state-hover > a,
.content-box-header.bg-white > .ui-tabs-nav li.ui-tabs-active.ui-state-hover > a {
  line-height: 50px;
  height: 50px;
  background: #F6F6F9;
  color: #212121;
}
.content-box-header.bg-default > .ui-tabs-nav li > a,
.content-box-header.bg-gray > .ui-tabs-nav li > a,
.content-box-header.bg-white > .ui-tabs-nav li > a {
  line-height: 50px;
  height: 50px;
  margin: 0;
  border-radius: 0;
}
.content-box-header.bg-default > .ui-tabs-nav,
.content-box-header.bg-gray > .ui-tabs-nav,
.content-box-header.bg-white > .ui-tabs-nav {
  top: 0;
}
.content-box-header > .ui-tabs-nav li.ui-tabs-active > a,
.content-box-header > .ui-tabs-nav li.ui-tabs-active.ui-state-hover > a {
  line-height: 47px;
  height: 49px;
  background: #fff;
}
/* Bootstrap Panels */

.panel {
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px 20px;
  position: relative;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid transparent;
  background-color: #f5f5f5;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  overflow: hidden;
  margin-bottom: 0;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid transparent;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid transparent;
}
