b,strong {font-weight: bold;}
blockquote {position:relative; padding-left:60px; margin-bottom:30px;}
blockquote::before {content: "“";display: block;height: 0;left: 0px;position:absolute;top:20px;font-family: 'Montserrat', sans-serif;
font-size:72px;color:#000;font-weight:bold;}

.blog-post .form-ctrl > li .form-error{position:relative;}
.image-panel .form-error {position:relative;}
.page{padding-top:45px;}
.cover-0-100-110{height:0;}
.cover-133-80{height:133px;}
.cover-153-80{height:153px;}
.cover-110-56{height:110px;}
.container-rel{position:relative;}
.imageHolder {position:relative; width:190px;height:143px;}
.overlay-img {display: table;position: absolute; width:100%; height:100%; background:rgba(0, 0, 0, .5);top:0; visibility:hidden;}
.breadcrumb{display:none;}
.imageHolder:hover .overlay-img {visibility:visible;}
.overlay-delete {display: table-cell;height: 100%;width: 100%;vertical-align: middle;text-align: center;}
.icon-cross {color:#fff; font-size:18px;}
.twitter-typeahead {top:-6px;}
@media (min-width:768px){
blockquote {padding-left:30px; margin-bottom:20px;}
blockquote::before {top:-8px;font-size:46px;}	
 .page{padding-top:0;}
 .cover-0-100-110{height:100px;}
 .cover-133-80{height:80px;}
 .cover-153-80{height:80px;}
 .cover-110-56{height:56px;}
 .breadcrumb{display:block;top:60px;}}
@media (min-width:1200px){.page{padding-top:0;}
 .cover-0-100-110{height:110px;}
 .breadcrumb{top:70px;}}

.clr-tag{font-size:12px;font-weight:600;height:23px;line-height:23px;color:#fff;background:#66a3f0;padding:0 10px;text-transform:uppercase;display:inline-block;}

.btn-pri{font-family:"Montserrat",sans-serif;font-size:11px;font-weight:600;display:inline-block;margin:0 6px;height:36px;line-height:36px;width:230px;text-align:center;text-transform:uppercase;letter-spacing:1px;-webkit-border-radius:30px;-moz-border-radius:30px;-ms-border-radius:30px;border-radius:30px;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;transition:all 1s;}
.blue1{background:#4183d7;color:#ffffff;}
.blue1:hover{background:#467cb4;color:#ffffff;}
.blue2{background:#1363b6;color:#ffffff;}
.blue2:hover{background:#467cb4;color:#ffffff;}
.gray1{background:#efeeee;color:#606060;}
.gray2:hover{background:#c2c2c2;color:#606060;}

.blog-post .outer-border{border:1px solid #ebebeb;border-left:0;}
.blog-post h1{font-family:"Montserrat",sans-serif;font-size:18px;font-weight:600;color:#000000;text-transform:uppercase;padding:26px 0 20px;text-align: left;}
.blog-post .form-ctrl{border-bottom:1px solid #ebebeb;list-style:none;margin:0;padding:0;}
.blog-post .form-ctrl > li{float:left;width:100%;padding:15px 20px;border-top:1px solid #ebebeb;margin:-1px 0 0;}
.blog-post label{font-family:"Montserrat",sans-serif;font-size:12px;line-height:1;font-weight:700;color:#000000;display:block;text-transform:uppercase;}
.blog-post input{font-size:14px;color:#606060;font-weight:400;width:100%;padding:10px 0 0 0;}
.blog-post select{font-size:14px;color:#606060;font-weight:400;width:100%;padding:10px 0 0 0;background:#fff;}
.blog-post textarea{font-size:14px;color:#606060;font-weight:400;width:100%;min-height:260px;}
.blog-post .f-select{position:relative;}
.blog-post .f-select:before{content:"";display:block;width:18px;height:10px;background:url(../img/b-sprite.png) no-repeat 0 -175px;position:absolute;right:0;top:3px;pointer-events:none;}
.blog-post .msg-holder{padding:15px 20px;}
.blog-post .btn-holder{padding:20px 0 40px;text-align:center;}
.blog-post .btn-holder .btn-pri{width:180px;}
.blog-post .btn-holder .btn-pri+.btn-pri{margin-top:10px;}
.blog-post .upload-sec{padding:15px 20px;}
.blog-post .upload-format{padding:5px 20px;font-size:12px;color:#606060;}
.blog-post .progress-bar{padding:0 0 28px;position:relative;}
.blog-post .progress-bar:before{content:"";position:absolute;height:3px;width:100%;background:#efeeee;left:0;top:8px;z-index:-1;}
.blog-post .progress-bar span{float:left;display:block;padding:0 30px 0 20px;background:#fff;font-family:"Montserrat",sans-serif;font-size:12px;font-weight:600;color:#606060;display:inline-block;text-transform:uppercase;position:relative;}
.blog-post .progress-bar span+span{float:right;padding:0 20px 0 30px;}
.blog-post .progress-bar span:before{content:"";width:16px;height:16px;background:#efeeee;border-radius:50px;display:block;position:absolute;right:0;top:2px;}
.blog-post .progress-bar span+span:before{left:0;right:auto;top:1px;}
.blog-post .progress-bar span.active:after{content:"";width:10px;height:10px;background:#1363b6;border-radius:50px;display:block;position:absolute;right:3px;top:5px;}
.blog-post .progress-bar span+span.active:after{left:3px;right:auto;top:4px;}
.blog-post .progress-bar span.active{color:#000;}

@media (min-width:768px){.blog-post .page{padding-top:100px;}
 .blog-post h1{font-family:"Montserrat",sans-serif;font-size:24px;font-weight:600;color:#000000;text-transform:uppercase;padding:40px 0 20px;}
 .blog-post .form-ctrl{border-bottom:1px solid #ebebeb;list-style:none;margin:0;padding:0;}
 .blog-post .form-ctrl > li{float:left;width:50%;padding:15px 20px;border-top:0;margin:0;}
 .blog-post .form-ctrl > li:nth-child(2){border-left:1px solid #ebebeb;}
 .blog-post .form-ctrl > li:nth-child(3){width:100%;border-top:1px solid #ebebeb;}
 .blog-post .btn-holder{padding:20px 0 40px;text-align:left;}
 .blog-post .btn-holder .btn-pri{width:180px;margin-top:0;}
 .blog-post .btn-holder .btn-pri+.btn-pri{margin-top:0;float:right;}}

@media (min-width:992px){.blog-post .form-ctrl{border-bottom:1px solid #ebebeb;list-style:none;margin:0;padding:0;}
 .blog-post .msg-holder{padding:20px 25px;}
 .blog-post .btn-holder{padding:25px 0 70px;}
 .blog-post .progress-bar{padding:0 0 36px;position:relative;}
 .blog-post .progress-bar:before{content:"";position:absolute;height:3px;width:100%;background:#efeeee;left:0;top:11px;z-index:-1;}
 .blog-post .progress-bar span{float:left;display:block;padding:0 30px 0 20px;background:#fff;font-family:"Montserrat",sans-serif;font-size:18px;font-weight:600;color:#606060;display:inline-block;text-transform:uppercase;position:relative;}
 .blog-post .progress-bar span+span{float:right;padding:0 20px 0 30px;}
 .blog-post .progress-bar span:before{content:"";width:16px;height:16px;background:#efeeee;border-radius:50px;display:block;position:absolute;right:0;top:5px;}
 .blog-post .progress-bar span+span:before{left:0;right:auto;top:4px;}
 .blog-post .progress-bar span.active:after{content:"";width:10px;height:10px;background:#1363b6;border-radius:50px;display:block;position:absolute;right:3px;top:8px;}
 .blog-post .progress-bar span+span.active:after{left:3px;right:auto;top:7px;}
 }

/*BLOG POST TAGS*/
.blog-post .bootstrap-tagsinput{width:100%;border:0;box-shadow:none;padding:0;border-radius:0;}
.blog-post .bootstrap-tagsinput input{display:inline-block;width:auto;}
.blog-post .bootstrap-tagsinput .tag{font-size:12px;font-weight:600;height:23px;line-height:23px;color:#fff;background:#66a3f0;padding:0 10px;text-transform:uppercase;display:inline-block;margin:5px 7px 5px 0;}

/*BLOG POST IMAGE UPLOADER*/
.blog-post .plupload_wrapper{border:0;}
.blog-post .plupload_filelist_header{display:none;}
.blog-post .plupload_filelist_footer{padding:15px 0 0;}
.blog-post .plupload_scroll .plupload_filelist{height:44px;overflow:hidden;}
.blog-post .plupload_filelist li{padding:15px 0;}
.blog-post .plupload_button{padding:0 15px;background:#4183d7;color:#ffffff;font-family:"Montserrat",sans-serif;font-size:0px;font-weight:600;display:inline-block;margin:0 12px 0 0;height:28px;line-height:28px;width:auto;text-align:center;text-transform:uppercase;letter-spacing:1px;-webkit-border-radius:30px;-moz-border-radius:30px;-ms-border-radius:30px;border-radius:30px;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;transition:all 1s;}
.blog-post .plupload_button:after{content:"upload image";font-size:11px;}
.blog-post .plupload_button.plupload_start{display:none}
.blog-post .plupload_filelist_footer .plupload_file_action{display:none}
.blog-post .plupload_file_status{display:none;}
.blog-post .plupload_file_size{display:none;}
.blog-post .plupload_filelist li:hover{background-color:transparent;}
.blog-post .plupload_file_name{width:80%;display:inline-block;}
.blog-post .plupload_filelist li.plupload_droptext, .plupload_filelist:empty::before{display:none;}
.blog-post .plupload_filelist li.plupload_droptext, .plupload_filelist:empty::after{display:none;}
